<div *ngIf="carregar" class="divCarregamento">
    <div class="carregamento"></div>
</div>

<ion-content [fullscreen]="true">
    <div class="content">
        <ion-alert header="Erro" [buttons]="['Ok']"
            message="A message should be a short, complete sentence."></ion-alert>
        <ion-header class="header ion-no-border" [translucent]="true">
            <div class="titulo">
                <ion-icon (click)="voltarPag()" class="titulo__voltar"
                    src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
                <h1 style="font-size: 32px; font-weight: bold;">Perfil</h1>
            </div>  
            <div class="area_foto_perfil">
                <img class="foto_perfil" [src]="fotoPerfil" alt="">

                <!-- <div class="estrelas">
                    <ion-icon class="estrela" name="star"></ion-icon>
                    <ion-icon class="estrela" name="star"></ion-icon>
                    <ion-icon class="estrela" name="star"></ion-icon>
                </div> -->

                <div class="estrelas">
                    <ion-icon class="estrela_perfil" *ngFor="let estrela of gerarArrayEstrelas(MediaEstrelas)"
                        name="star"></ion-icon>
                </div>
            </div>
            <p style="font-size: 22px; margin-bottom: 10px; color: white; font-weight: bold;">{{cliente.Nome}}</p>

            <div style="display: flex; gap: 10px; align-items: center;">
                <p style="font-size: 15px; color: white;">{{TotalAvaliacao}} avaliações</p>
                <p style="font-size: 17px; color: white;">|</p>
                <p style="font-size: 15px; color: white;">{{TotalChamado}} chamados</p>
            </div>

        </ion-header>

        <ion-list class="ion_list">

            <div>
                <div class="area_btn" [routerLink]="['/privacidade']">
                    <div class="txt_icon">
                        <ion-icon class="iconeIdentificacao" name="lock-closed-outline"></ion-icon>
                        <p class="txt">Privacidade</p>
                    </div>

                    <ion-icon class="iconeAbrir"
                        src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
                </div>

                <div class="area_btn" [routerLink]="['/historico']">
                    <div class="txt_icon">
                        <ion-icon class="iconeIdentificacao"
                            src="../../../../../assets/icon/cliente/HISTORICOAsset 1.svg"></ion-icon>
                        <p class="txt">Histórico</p>
                    </div>

                    <ion-icon class="iconeAbrir"
                        src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
                </div>

                <div class="area_btn" [routerLink]="['/favoritos']">
                    <div class="txt_icon">
                        <ion-icon class="iconeIdentificacao" src="../../../assets/icon/cliente/Heart.svg"></ion-icon>
                        <p class="txt">Favoritos</p>
                    </div>

                    <ion-icon class="iconeAbrir"
                        src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
                </div>

                <div class="area_btn" [routerLink]="['/suporte']">
                    <div class="txt_icon">
                        <ion-icon class="iconeIdentificacao" src="../../../assets/icon/cliente/ajuda.svg"></ion-icon>
                        <p class="txt">Ajuda e suporte</p>
                    </div>

                    <ion-icon class="iconeAbrir"
                        src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
                </div>

                <div class="area_btn" [routerLink]="['/termos']">
                    <div class="txt_icon">
                        <ion-icon class="iconeIdentificacao"
                            src="../../../../../assets/icon/cliente/termos.svg"></ion-icon>
                        <p class="txt">Termos</p>
                    </div>

                    <ion-icon class="iconeAbrir"
                        src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
                </div>

                <div id="abrir_modal_sair" class="area_btn btn_sair">
                    <div class="txt_icon">
                        <ion-icon class="sla" src="../../../assets/icon/cliente/sair.svg"></ion-icon>
                        <p style="color: red;" class="txt">Sair</p>
                    </div>
                </div>
            </div>
        </ion-list>
    </div>
</ion-content>

<ion-modal id="modal_sair" #modal trigger="abrir_modal_sair">
    <ng-template>

        <ion-card class="poupop">

            <div class="area_vermelha">
                <ion-icon (click)="modal.dismiss();" class="iconeFechar2" name="close-circle-outline"></ion-icon>
                <div class="circulo_branca">
                    <ion-icon class="iconeInterrogacao"
                        src="../../../../../assets/icon/Trabalhador/Icone Serviço/interrogação.svg"></ion-icon>
                </div>
            </div>

            <div class="area_branca">
                <h1 class="h1_denuncia">Tem certeza que deseja sair?</h1>
                <ion-button class="form__btn" (click)="modal.dismiss(); sair()">Confirmar</ion-button>
            </div>

        </ion-card>

    </ng-template>
</ion-modal>

<ion-footer class="footer" style="position: fixed;">
    <ion-tabs class="ion_tabs">
        <ion-tab-bar class="ion_tab_bar" slot="bottom">

            <ion-tab-button [routerLink]="['/inicial']">
                <ion-icon class="imgFooter" name="home-outline"></ion-icon>
            </ion-tab-button>

            <ion-tab-button [routerLink]="['/favoritos']">
                <ion-icon class="imgFooter" src="../../../../../assets/icon/cliente/Heart.svg" alt="">
                </ion-icon>
            </ion-tab-button>

            <ion-tab-button [routerLink]="['/historico']">
                <ion-icon style="color: black;" class="imgFooter" name="time-outline"></ion-icon>
            </ion-tab-button>

            <ion-tab-button [routerLink]="['/perfil']">
                <ion-icon class="imgFooter Clicado" src="../../../../../assets/icon/cliente/perfil_branco.svg">
                </ion-icon>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-footer>