<ion-content [fullscreen]="true">
    <section class="fundo">
        <div class="martelo">
            <ion-img src="../../../assets/icon/geral/martelo.png"></ion-img>
        </div>

        <div class="logo_botoes">
            <ion-icon src="../../../assets/icon/geral/Logo.svg"></ion-icon>
            <div class="divBtns">
                <ion-button class="btn_entrar">Entrar</ion-button>
                <ion-button class="btn_cadastrar">Crie uma conta</ion-button>
            </div>
        </div>

        
    <div class="chave_inglesa">
        <ion-img src="../../../assets/icon/geral/chave-inglesa.png"></ion-img>
    </div>
    </section>
</ion-content>