<ion-header>
  <div class="botao-titulo">
    <img src="../../../assets/icon/cliente/down-removebg-preview 8.svg"> 
  </div>
</ion-header>

<ion-content>
  <section class="content">

    <div class="titulo_perg_freq">
      <h1>Perguntas frequentes</h1>
    </div>
    
    <ion-accordion-group>
      <ion-accordion value="first">

        <div slot="header" class="pergunta">
          <p>1. Existe um sistema de classificação ou ranking para os trabalhadores baseado no desempenho e nas avaliações dos clientes?</p>
        </div>
    
        <div slot="content">
          <p>Sim, prezamos muito pelos atendimentos e a avaliação é um dos meio de localizar os melhores trabalhadores disponíveis.</p>
        </div>

      </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>
      <ion-accordion value="first">

        <div slot="header" class="pergunta">
          <p>2. Como o aplicativo garante a segurança e a privacidade das informações dos trabalhadores e dos clientes?</p>
        </div>

      </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>
      <ion-accordion value="first">

        <div slot="header" class="pergunta">
          <p>3.Quais são as políticas de cancelamento e reembolso para os serviços solicitados pelo aplicativo?</p>
        </div>

      </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>
      <ion-accordion value="first">

        <div slot="header" class="pergunta">
          <p>4. O aplicativo oferece algum tipo de treinamento ou recursos para ajudar os trabalhadores a melhorarem suas habilidades e aumentarem suas chances de serem contratados?</p>
        </div>

      </ion-accordion>
    </ion-accordion-group>


  </section>
</ion-content>

<footer>
  <p>Caso seu problema não <br> tenha sido resolvido:</p> <ion-button>Fale conosco!</ion-button>
</footer>