<header>
  <div class="botao-titulo">
    <div class="btn_voltar"> 
      <img src="../../../assets/icon/cliente/down-removebg-preview 8.svg"> 
    </div>
      <h1>CENTRAL DE AJUDA</h1>
  </div>
</header>
<hr>

<div class="titulo_perg_freq">
  <h1>Perguntas frequentes</h1>
</div>

<section class="perg_freq">
  <div class="pergunta"><p>1. Existe um sistema de <br> classificação ou ranking para <br> os trabalhadores baseado no <br> desempenho e nas avaliações <br> dos clientes?</p></div>
  <div class="pergunta"><p>2. Como o aplicativo garante a <br> segurança e a privacidade das <br> informações dos trabalhadores <br> e dos clientes?</p></div>
  <div class="pergunta"><p>3.Quais são as políticas de <br> cancelamento e reembolso <br> para os serviços solicitados <br> pelo aplicativo?</p></div>
  <div class="pergunta"><p>4. O aplicativo oferece algum tipo <br> de treinamento ou recursos <br> para ajudar os trabalhadores a <br> melhorarem suas habilidades e <br> aumentarem suas chances de <br> serem contratados?</p></div>
</section>

<footer>
  <p>Caso seu problema não <br> tenha sido resolvido:</p> <ion-button>Fale conosco!</ion-button>
</footer>


