*{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: black;
}

.content{
    padding: 14px;
    background: linear-gradient(180deg, #CB2316 0%, #F66701 100%);
    height: 100vh;
}

.ion_accordion_group{
    margin: 20px 0;
    color: black;
    font-weight: bold;
}

.content_seta{
    font-size: 30px;
    flex-shrink: 0;
    position: absolute;
    top: 30px;
    left: 30px;
}

.content_h1{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin: 70px 0 30px 0;
}

.geral{
    margin: 20px 16px;
    font-weight: normal;
}

.p1{
    margin-right: 10px;
    font-size: 17px;
}

.p2{
    font-size: 17px;
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    padding: 10px;
}

ion-button {
    --border-radius: 25px;
    --padding-top: 19px;
    --padding-bottom: 19px;
    --background: #F66701;

    font-size: 20px;
    font-weight: bold;
    text-transform: none;
    transition: transform 0.2s ease;
    height: 46px;
    width: 147px;
    font-size: 16px;
    
}
  
ion-button:active{
    --background: #F66701 !important;
    transform: scale(0.90);
}


/* body{
    align-items: center;
}

header{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

header h1{
    font-weight: bold;
}

.botao-titulo{
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row ; 
}

.btn_voltar{
    position: absolute;
    top: 31px;
    left: 30px;
}

hr{
    height: 1px;
    width: 100%; 
    background-color: black;   
}

.titulo_perg_freq{
    width: 100%;
    margin-left: 5%;
    padding: 0 30px
}


ion-accordion {
    --background: transparent;
  }

  :host(.ion-color) .item-native, :host(.ion-color) .item-inner{
    background: var(--ion-color-base);
  }
  
  
  ion-item[slot="header"] {
    --background: transparent;
    --border-color: transparent;
  }
  
  
  ion-item[slot="header"] {
    --padding-start: 30px;
    --padding-end: 0;
  }
  
 
  ion-accordion {
    --box-shadow: none;
  }
  
  ion-accordion div[slot="content"] {
    padding: 30px;
  } */

/* 
.pergunta{
    height: 93.5px;
    width: 100%;
}

.pergunta p{
    font-weight: bold;
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    padding: 10px;
}

ion-button {
    --border-radius: 25px;
    --padding-top: 19px;
    --padding-bottom: 19px;
    --background: #F66701;

    font-size: 20px;
    font-weight: bold;
    text-transform: none;
    transition: transform 0.2s ease;
    height: 46px;
    width: 147px;
    font-size: 16px;
    
}
  
ion-button:active{
    --background: #F66701 !important;
    transform: scale(0.90);
} */