<ion-content [fullscreen]="true">
    <ion-header class="header ion-no-border" [translucent]="true">
        <div class="titulo">
            <ion-icon class="titulo__voltar"
                src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
        </div>
        <div class="area_foto_perfil">
            <ion-icon class="icone_editar" src="../../../assets/icon/cliente/editar.svg"></ion-icon>
            <img class="foto_perfil" src="../../../assets/icon/cliente/foto_perfil.png" alt="">
        </div>
    </ion-header>

    <ion-accordion-group>
        <ion-accordion value="first">
            <ion-item slot="header" class="div_titulo">
                <h1>Meus dados</h1>
            </ion-item>

            <div slot="content" class="geral">
                <div class="area_dado">
                    <p class="txt">Nome</p>
                    <ion-input class="input" [disabled]="true" placeholder="Marcos Vinicius Oliveira Santiago">
                        <ion-icon class="iconeEditar" name="create-outline"></ion-icon>
                    </ion-input>
                </div>

                <div class="area_dado">
                    <p class="txt">Email</p>
                    <ion-input class="input" [disabled]="true" placeholder="marcos@gmail.com">
                        <ion-icon class="iconeEditar" name="create-outline"></ion-icon>
                    </ion-input>
                </div>

                <div class="area_dado">
                    <p class="txt">Telefone</p>
                    <ion-input class="input" [disabled]="true" placeholder="(13) 9856-7453">
                        <ion-icon class="iconeEditar" name="create-outline"></ion-icon>
                    </ion-input>
                </div>

                <div class="area_dado">
                    <p class="txt">Data de Nascimento</p>
                    <ion-input class="input" [disabled]="true" placeholder="27/08/1999"></ion-input>
                </div>

                <div class="area_dado">
                    <p class="txt">Senha</p>
                    <ion-input type="password" class="input" [disabled]="true" value="oowdwedewd">
                        <ion-icon class="iconeEditar" name="create-outline"></ion-icon>
                    </ion-input>
                </div>
            </div>
        </ion-accordion>
    </ion-accordion-group>
</ion-content>