.fundo {
    height: 100vh;
    padding: 0 36px;
    background: linear-gradient(180deg, #CB2316 0%, #F66701 100%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content__seta {
    font-size: 30px;
    flex-shrink: 0;
}

.chave-de-fenda {
    position: absolute;
    top: 0;
    right: 0;
}

.ferramenta-perfuracao {
    position: absolute;
    bottom: 0;
    left: 0;
}

.titulo-e-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-e-botoes h1 {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

ion-button
{
    width: 100%;
}

.btn-opcao-cliente {
    --background: #F66701;
    --border-radius: 25px;

    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
}

.btn-opcao-cliente:hover {
    background-color: #e66001;
    color: rgb(212, 212, 212);
}

.btn-opcao-cliente:active {
    transform: scale(0.90);
}

.mini-icone-cliente {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.mini-icone-cliente h1 {
    font-weight: none;
    margin-left: 5%;
}

.btn-opcao-trabalhador {
    margin-top: 5%;
    height: 191px;
    width: 362px;
    background-color: #CB2316;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
}

.btn-opcao-trabalhador:hover {
    background-color: #b61e14;
    color: rgb(212, 212, 212);
}

.btn-opcao-trabalhador:active {
    transform: scale(0.90);
}

.mini-icone-trabalhador {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.mini-icone-trabalhador h1 {
    font-weight: none;
    margin-left: 5%;
}

.area-texto-btn {
    height: 109px;
    width: 313px;
    display: flex;
    margin-left: 5%;
}

p {
    font-size: larger;
    color: white;
    text-align: left;
    line-height: 20px;
}