<ion-content [fullscreen]="true">
    <div class="wrapper">
        <ion-icon (click)="pagAnterior()" class="content__seta" src="../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
        <section class="fundo">
            <div class="chave-de-fenda">
                <ion-img src="../../../assets/icon/geral/chave-de-fenda.png"></ion-img>
            </div>

            <div class="titulo-e-botoes">
                <h1 class="h1">Escolha o seu tipo de conta</h1>

                <div (click)="proxPag('cliente')" class="btn-opcao-cliente ion-activatable">
                    <ion-ripple-effect></ion-ripple-effect>
                    <div class="mini-icone-cliente">
                        <ion-icon class="iconeCliente"
                            src="../../../assets/icon/geral/mini_icone_cliente.svg"></ion-icon>
                        <h1>Cliente</h1>
                    </div>
                    <div class="area-texto-btn">
                        <p>Procurando um serviço rápido? Entre agora e contrate um profissional! Resolva suas
                            necessidades
                            com eficiência e praticidade, sem complicações.</p>
                    </div>
                </div>

                <div (click)="proxPag('cliente')" class="btn-opcao-cliente trabalhador ion-activatable">
                    <ion-ripple-effect></ion-ripple-effect>
                    <div class="mini-icone-cliente">
                        <ion-icon class="iconeCliente"
                            src="../../../assets/icon/geral/mini_icone_trabalhador.svg"></ion-icon>
                        <h1>Trabalhador</h1>
                    </div>
                    <div class="area-texto-btn">
                        <p>Quer ter mais clientes e aumentar seu lucro, entre já! Expanda suas oportunidades e seu
                            negócio, veja seus resultados.</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="ferramenta-perfuracao">
            <img src="../../../assets/icon/geral/ferramenta-de-perfuracao.svg">
        </div>
    </div>
</ion-content>