<ion-content [fullscreen]="true">
  <section class="fundo">
 
   <div class="chave-de-fenda">
    <img src="../../../assets/icon/geral/chave-de-fenda.svg">
   </div>
 
   <div class="titulo-e-botoes">
    <h1>Escolha o seu tipo<br> de conta</h1>
    
      <button class="btn-opcao-cliente">
      <div class="mini-icone-cliente"> <img src="../../../assets/icon/geral/mini_icone_cliente.svg"><h1>Cliente</h1></div>
      <div class="area-texto-btn">
        <p>Procurando um serviço rápido? Entre agora e contrate um profissional! Resolva suas necessidades com eficiência praticidade, sem complicações.</p>
      </div>
    </button>
    
    <button class="btn-opcao-trabalhador">
      <div class="mini-icone-trabalhador"> <img src="../../../assets/icon/geral/mini_icone_trabalhador.svg"><h1>Trabalhador</h1></div>
      <div class="area-texto-btn">
        <p>Quer ter mais clientes e aumentar seus lucros, entre já! Expanda seu oportunidades, expanda seu negócio e veja seus resultados.</p>
      </div>
    </button>
   </div>
 
   <div class="ferramenta-perfuracao">
     <img src="../../../assets/icon/geral/ferramenta-de-perfuracao.svg">
   </div>
 
 
 
 
  </section>
