<ion-content [fullscreen]="true">
    <section class="fundo">

        <div class="chave-de-fenda">
            <ion-img src="../../../assets/icon/geral/chave-de-fenda.png"></ion-img>
        </div>

        <div class="titulo-e-botoes">
            <h1>Escolha o seu tipo de conta</h1>

            <ion-button class="btn-opcao-cliente">
                <div class="mini-icone-cliente"> <img src="../../../assets/icon/geral/mini_icone_cliente.svg">
                    <h1>Cliente</h1>
                </div>
                <div class="area-texto-btn">
                    <p>Procurando um serviço rápido? Entre agora e contrate um profissional! Resolva suas necessidades
                        com eficiência e praticidade, sem complicações.</p>
                </div>
            </ion-button>

            <ion-button class="btn-opcao-trabalhador">
                <div class="mini-icone-trabalhador"> <img src="../../../assets/icon/geral/mini_icone_trabalhador.svg">
                    <h1>Trabalhador</h1>
                </div>
                <div class="area-texto-btn">
                    <p>Quer ter mais clientes e aumentar seu lucro, entre já! Expanda suas oportunidades e seu
                        negócio, veja seus resultados.</p>
                </div>
            </ion-button>
        </div>

        <div class="ferramenta-perfuracao">
            <ion-img src="../../../assets/icon/geral/ferramenta-de-perfuracao.png"></ion-img>
        </div>




    </section>