<ion-content [fullscreen]="true">
  <div class="content">


      <ion-header class="header ion-no-border" [translucent]="true">
          <div class="titulo">
              <ion-icon class="titulo__voltar"
                  src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
              <h1 style="font-size: 32px; font-weight: bold; color: white;">Perfil</h1>
          </div>
          <div class="area_foto_perfil">
              <ion-icon class="icone_editar" src="../../../../assets/icon/Trabalhador/icone perfil/editar.svg"></ion-icon>
              <img class="foto_perfil" src="../../../../../assets/icon/Trabalhador/imagens/fotohomem2.avif" alt="">

              <div class="estrelas">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
              </div>
          </div>
          <p style="font-size: 24px; margin-bottom: 10px; color: white; font-weight: bold;">Marcos Vinicius</p>

          <div style="display: flex; gap: 10px; align-items: center;">
              <p style="font-size: 15px; color: white;">100 avaliações</p>
              <p style="font-size: 17px; color: white;">|</p>
              <p style="font-size: 15px; color: white;">150 serviços realizados</p>
          </div>

      </ion-header>

      <ion-list class="ion_list">

          <div>
              <div class="area_btn">
                  <div class="txt_icon">
                      <ion-icon class="iconeIdentificacao" name="lock-closed-outline"></ion-icon>
                      <p class="txt">Privacidade</p>
                  </div>

                  <ion-icon class="iconeAbrir"
                      src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
              </div>

              <div class="area_btn">
                  <div class="txt_icon">
                      <ion-icon class="iconeIdentificacao" src="../../../assets/icon/Trabalhador/icone perfil/Relogio.svg"></ion-icon>
                      <p class="txt">Histórico</p>
                  </div>

                  <ion-icon class="iconeAbrir"
                      src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
              </div>

              <div class="area_btn">
                  <div class="txt_icon">
                      <ion-icon class="iconeIdentificacao"
                          src="../../../assets/icon/Trabalhador/icone perfil/certificado.svg"></ion-icon>
                      <p class="txt">Certificados</p>
                  </div>

                  <ion-icon class="iconeAbrir"
                      src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
              </div>

              <div class="area_btn">
                  <div class="txt_icon">
                      <ion-icon class="iconeIdentificacao"
                          src="../../../assets/icon/Trabalhador/icone perfil/ajuda.svg"></ion-icon>
                      <p class="txt">Ajuda e suporte</p>
                  </div>

                  <ion-icon class="iconeAbrir"
                      src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
              </div>

              <div class="area_btn">
                  <div class="txt_icon">
                      <ion-icon class="iconeIdentificacao"
                          src="../../../assets/icon/Trabalhador/icone perfil/termos.svg"></ion-icon>
                      <p class="txt">Termos</p>
                  </div>

                  <ion-icon class="iconeAbrir"
                      src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
              </div>
          </div>

          <div class="area_btn btn_sair">
              <div class="txt_icon">
                  <ion-icon class="iconeIdentificacao"
                      src="../../../assets/icon/Trabalhador/icone perfil/sair.svg"></ion-icon>
                  <p style="color: red;" class="txt">Sair</p>
              </div>
          </div>

      </ion-list>


  </div>

  <!-- <div class="div_perfil">

      <ion-icon  class="content__seta" src="../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
      <ion-icon class="menu" name="menu-outline"></ion-icon>

      <div>
          <h1>Perfil</h1>

          <figure>
              <img src="" alt="" srcset="">
              <ion-icon name="create-outline"></ion-icon>

              <div>
                  <ion-icon name="create-outline"></ion-icon>
                  <ion-icon name="create-outline"></ion-icon>
                  <ion-icon name="create-outline"></ion-icon>
              </div>
          </figure>


          <h2>Maria Oliveira</h2>

          <div>
              <p>2 avaliações</p>
          </div>
      </div>
  </div> -->
</ion-content>