<ion-content class="ion_content">
    <div class="wrapper">
        <ion-icon class="content__seta" src="../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>

        <div class="content">
            <ion-text>
                <h1 class="content__h1">Endereço</h1>
            </ion-text>
    
            <ion-list [formGroup]="endereco" class="form" lines="none">
                <ion-item class="ion_item">
                    <ion-input formControlName="identificacao" class="form__input" placeholder="Identificação"></ion-input>
                </ion-item>
                <ion-item class="ion_item">
                    <ion-input formControlName="cep" (ionInput)="buscarCep($event.target.value)" [maskito]="cepMask" [maskitoElement]="maskPredicate" class="form__input" placeholder="CEP"></ion-input>
                </ion-item>
                <ion-item class="ion_item">
                    <ion-input formControlName="estado" class="form__input" disabled placeholder="Estado"></ion-input>
                </ion-item>
                <ion-item class="ion_item">
                    <ion-input formControlName="cidade" class="form__input" disabled placeholder="Cidade"></ion-input>
                </ion-item>
                <ion-item class="ion_item">
                    <ion-input formControlName="bairro" class="form__input" disabled placeholder="Bairro"></ion-input>
                </ion-item>
                <ion-item class="ion_item">
                    <ion-input formControlName="rua" type="text" disabled placeholder="Rua" class="form__input" ></ion-input>
                </ion-item>
                <ion-item class="ion_item">
                    <ion-input formControlName="numero" class="form__input" placeholder="Número"></ion-input>
                </ion-item>
                <ion-item class="ion_item">
                    <ion-input formControlName="complemento" class="form__input" placeholder="Complemento"></ion-input>
                </ion-item>
                <ion-item class="ion_item">
                    <ion-input formControlName="pontoReferencia" class="form__input" placeholder="Ponto de referência"></ion-input>
                </ion-item>
    
                <ion-button class="form__btn">Confirmar</ion-button>
            </ion-list>
        </div>
    </div>
</ion-content>