*
{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: black;
    font-size: 15px;
}

.content__seta
{
    font-size: 30px;
    flex-shrink: 0;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
}

.areaVermelha{
    padding: 30px;
    background-color: #CB2316;
    border-radius: 0 0 20px 20px;
    position: absolute;
    height: 300px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.contener{
    position: relative;
    height: 100vh;
    padding: 30px;
}

.content__h1
{
    font-weight: 700;
    font-size: 30px;
    margin: 50px 0 20px 0;
    text-align: center;
    color: white;
}

ion-card{
    padding: 20px;
    background-color: #E4E4E4;
    border-radius: 20px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

h6{
    font-size: 15px;
    margin-bottom: 5px;
}

h1{
    font-size: 34px;
}

.txtSacar{
    text-align: end; 
    position: absolute; 
    right: 20px;
    bottom: 10px;
}

.divHistorico{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.divHistorico h1{
    font-size: 25px;
    margin-bottom: 30px;
}

.divValores{
    width: 100%;
}

.data{
    font-size: 20px;
    margin: 10px 0;
}

.divValores p{
    margin: 0 0 10px 0;
}

.ganho{
    color: #34C800;
}

.saque{
    color: brown;
}