<ion-content>
    <div *ngIf="carregar" class="divCarregamento">
    <div class="carregamento"></div>
    </div>

    <div class="wrapper">
        <ion-icon (click)="voltarPag()" class="content__seta" name="chevron-back-outline"></ion-icon>

        <div class="content">

            <ion-text style="text-align: start;">
                <h1 class="content__h1">Documentação</h1>
            </ion-text>

            <ion-list class="form" lines="none">


                <ion-text style="margin: auto;">
                    <p style="font-size: 17px;">Envie a foto ou PDF do documento</p><br>
                    <p style="font-size: 15px;">Recomendações:</p>
                    <ul style="margin: 0 0 10px 0;">
                        <li>Tire em um ambiente iluminado</li>
                        <li>Verifique a qualidade da foto</li>
                    </ul>
                </ion-text>

                <ion-card class="ion_item">
                    <ion-text>
                        <p style="font-size: 17px; color: black; margin: 15px 0;">Certificado ou especialização</p>
                    </ion-text>

                    <div class="certificados" *ngFor="let arquivo of arquivos">
                        <div *ngIf="arquivo.img" class="certificados__div">
                            <div class="div_icones">
                                <ion-icon style="margin-right: 10px;" class="div_icones__icone"
                                    name="image-outline"></ion-icon>
                                <p>{{ arquivo.arquivo.name }}</p>
                            </div>

                            <ion-icon (click)="removerArquivo($event.target)" class="div_icones__icone"
                                name="trash-outline"></ion-icon>
                        </div>

                        <div *ngIf="arquivo.pdf" class="certificados__div">
                            <div class="div_icones">
                                <ion-icon style="margin-right: 10px;" class="div_icones__icone"
                                    name="document-outline"></ion-icon>
                                <p>{{ arquivo.arquivo.name }}</p>
                            </div>

                            <ion-icon (click)="removerArquivo($event.target)" class="div_icones__icone"
                                name="trash-outline"></ion-icon>
                        </div>
                    </div>

                    <ion-button (click)="abrirArquivo()" class="Foto__btn" fill="clear">
                        <ion-icon class="arquivo" name="document-outline"></ion-icon>
                    </ion-button>
                </ion-card>

                <ion-button (click)="enviarArquivos()" class="form__btn">Confirmar</ion-button>
            </ion-list>
        </div>
    </div>
</ion-content>