<ion-content>
    <div class="wrapper">
        <ion-icon (click)="voltarPag()" class="content__seta" name="chevron-back-outline"></ion-icon>

        <div class="content">

            <ion-text style="text-align: start;">
                <h1 class="content__h1">Documentação</h1>
            </ion-text>

            <ion-list class="form" lines="none">


                <ion-text style="margin: auto;">
                    <p style="font-size: 17px;">Envie a foto ou PDF do documento</p><br>
                    <p style="font-size: 15px;">Recomendações:</p>
                    <ul style="margin: 0 0 10px 0;">
                        <li>Tire em um ambiente iluminado</li>
                        <li>Verifique a qualidade da foto</li>
                    </ul>
                </ion-text>

                <ion-card class="ion_item">
                    <ion-text>
                        <p style="font-size: 17px; color: black; margin: 15px 0;">Certificado ou especialização</p>
                    </ion-text>

                    <div class="certificados" *ngFor="let arquivo of arquivos">
                        <div (click)="mostrarArquivo($event.target)" *ngIf="arquivo.img" style="display: flex; align-items: center;">
                            <ion-icon style="margin-right: 10px;" name="image-outline"></ion-icon>
                            <p>{{ arquivo.arquivo.name }}</p>
                        </div>

                        <div *ngIf="arquivo.pdf" style="display: flex; align-items: center;">
                            <ion-icon style="margin-right: 10px;" name="document-outline"></ion-icon>
                            <p>{{ arquivo.arquivo.name }}</p>
                        </div>
                    </div>

                    <ion-button (click)="abrirArquivo()" class="Foto__btn" fill="clear">
                        <ion-icon class="arquivo" name="document-outline"></ion-icon>
                    </ion-button>
                </ion-card>

                <ion-button [routerLink]="['/categoria']" class="form__btn">Confirmar</ion-button>

            </ion-list>
        </div>
    </div>
</ion-content>