*{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: black;
}

.nm_titulo{
    color: #CB2316;
}

.content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}

.area_perfil{
    display: flex;
    margin-top: 10px;
}

.area_perfil img{
    height: 95px;
    width: 95px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px black;
}

.area_perfil h1{
    font-size: 22px;
    margin-bottom: 10px;
}

.area_titulo_perfil{
    margin: 10px 15px;
}

.area_pedido{
    margin: auto;
    padding: 15px;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin-top: 50px;
}

h3{
    font-size: 22px;
    margin-bottom: 10px;
}

.txt_endereco{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.img_servico{
    width: 100%;
    border-radius: 20px;
    height: 200px;
    object-fit: cover;
    margin: 20px 0;
}

.descricao_pedido{
    font-size: 15px;
    margin-top: 20px;
}

.area_btn{
    display: flex;
    justify-content: space-between;
}

.btn_ignorar{
    --background: #FA5050;
    color: white;
    --border-radius: 20px;
    --padding-left: 28px;
    --padding-top: 14px;
    --padding-bottom: 14px;
    --padding-right: 28px;
    margin: auto;
    font-size: 15px;
    text-transform: none;
}

.btn_aceitar{
    --background: #64BF7E;
    color: white;
    --border-radius: 20px;
    --padding-left: 28px;
    --padding-top: 14px;
    --padding-bottom: 14px;
    --padding-right: 28px;
    margin: auto;
    font-size: 15px;
    text-transform: none;
}

//------------------------------------------------------//

.poupop {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    margin: auto;
    color: black;
}

.poupop h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}


#modal_ignorar, #modal_aceitar{
    --width: fit-content;
    --height: fit-content;
    --border-radius: 25px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

#modal_ignorar, #modal_aceitar{
    padding: 0 10px;
}

.form__btn {
    --padding-top: 18px;
    --padding-bottom: 18px;
    --padding-left: 66px;
    --padding-right: 66px;
    --border-radius: 20px;
    color: white;
    --background: #CB2316;
    font-size: 22px;
    text-transform: none;
}

.area_vermelha {
    width: 100%;
    background-color: #CB2316;
    height: 110px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

.area_branca{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.iconeFechar2 {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    color: white;
}

.iconeInterrogacao {
    height: 67px;
    width: 65px;
}

.circulo_branca {
    height: 102px;
    width: 102px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -20px;
}