<div *ngIf="carregar" class="divCarregamento">
    <div class="carregamento--trabalhador"></div>
</div>

<div #div class="divCarregamento" (click)="fecharDiv(div)" style="display: none;">
    <div style="display: flex; flex-direction: column; gap: 20px; position: relative;">
        <angular-cropper style="width: 80%;" #angularCropper [cropperOptions]="config"
            [imageUrl]="fotoPerfil"></angular-cropper>
        <ion-button class="btnRecorte" (click)="recortarImg()">Recortar</ion-button>
    </div>
</div>

<ion-content [fullscreen]="true">
    <div class="wrapper">
        <div class="grupo">
            <ion-header class="header ion-no-border">
                <div class="titulo">
                    <ion-icon class="titulo__voltar" (click)="voltarPag()" name="chevron-back-outline"></ion-icon>
                </div>
                <div class="area_foto_perfil">
                    <ion-icon (click)="pegarFoto(div)" class="icone_editar"
                        src="../../../assets/icon/Trabalhador/icone perfil/editar.svg"></ion-icon>
                    <img class="foto_perfil" [src]="perfilFoto" alt="Foto de Perfil">
                </div>
            </ion-header>

            <div class="content">
                <ion-alert header="Erro" [buttons]="['Ok']"
                    message="A message should be a short, complete sentence."></ion-alert>
                <ion-accordion-group class="ion_accordion_group">
                    <ion-accordion value="first">
                        <ion-item slot="header" class="div_titulo">
                            <h1>Meus dados</h1>
                        </ion-item>

                        <div [formGroup]="formDados" slot="content" class="geral">
                            <div class="area_dado">
                                <p class="txt">Nome</p>
                                <div style="position: relative;">
                                    <ion-input id="inputNome" (keyup)="AtivarBotaoSalvar($event)"
                                        [disabled]="isDisabled" class="input" placeholder="Nome"
                                        value="{{trabalhador.Nome}}"
                                        (ionInput)="validacaoInput(formDados.controls['Nome'])"
                                        [class.inputErro]="formDados.controls['Nome'].invalid && (formDados.controls['Nome'].touched || formDados.controls['Nome'].dirty)"
                                        formControlName="Nome">
                                    </ion-input>
                                    <ion-icon class="iconeEditar" (click)="abilitarInput($event.target)"
                                        name="create-outline">
                                    </ion-icon>
                                </div>
                            </div>

                            <span
                                [ngClass]="formDados.controls['Nome'].invalid && (formDados.controls['Nome'].touched || formDados.controls['Nome'].dirty) ? 'erro' : 'escondido'">{{
                                erro.Nome}}
                            </span>

                            <div class="area_dado">
                                <p class="txt">Email</p>
                                <div style="position: relative; margin-bottom: 10px;">
                                    <ion-input id="inputEmail" (keyup)="AtivarBotaoSalvar($event)"
                                        (ionInput)="validacaoInput(formDados.controls['email'])" class="input"
                                        [class.inputErro]="formDados.controls['email'].invalid && (formDados.controls['email'].touched || formDados.controls['email'].dirty)"
                                        formControlName="email" placeholder="Email" value="{{trabalhador.Email}}">
                                    </ion-input>
                                    <ion-icon class="iconeEditar" (click)="abilitarInput($event.target)"
                                        name="create-outline">
                                    </ion-icon>
                                </div>

                                <span
                                    [ngClass]="formDados.controls['email'].invalid && (formDados.controls['email'].touched || formDados.controls['email'].dirty) ? 'erro' : 'escondido'">{{
                                    erro.email }}
                                </span>

                                <span class="erro" style="margin-top: 10px;" *ngIf="mostrarSpan">Email já
                                    cadastrado!</span>
                            </div>

                            <div class="area_dado">
                                <p class="txt">Data de Nascimento</p>
                                <ion-input class="input" [disabled]="true" placeholder="Data de nascimento"
                                    value="{{novoTexto}}"></ion-input>
                            </div>

                            <div class="area_dado">
                                <p class="txt">CPF</p>
                                <ion-input class="input" [disabled]="true" placeholder="CPF"
                                    value="{{cpfFormatado}}"></ion-input>
                            </div>
                        </div>
                    </ion-accordion>
                </ion-accordion-group>

                <ion-accordion-group class="ion_accordion_group">
                    <ion-accordion value="first">
                        <ion-item slot="header" class="div_titulo">
                            <h1>Certificados</h1>
                        </ion-item>

                        <div slot="content" class="geral">

                            <div class="imgCertificado" *ngFor="let imagens of [1, 2] let i = index">
                                <img class="img_servico"
                                    [src]="dominio + '/Imgs/Certificados/' + trabalhador.Cpf + '/' + '1' +'.JPG'"
                                    alt="">
                            </div>

                            <div *ngFor="let arquivo of arquivos">
                                <div *ngIf="arquivo.img" class="imgCertificado">
                                    <ion-icon class="icone_lixo" name="trash-outline"
                                        id="abrir_modal_remover_certificado"></ion-icon>
                                    <p>{{ arquivo.arquivo.name }}</p>
                                </div>

                                <div *ngIf="arquivo.img" class="imgCertificado">
                                    <ion-icon class="icone_lixo" name="trash-outline"
                                        id="abrir_modal_remover_certificado"></ion-icon>
                                    <p>{{ arquivo.arquivo.name }}</p>
                                </div>

                                <div *ngIf="arquivo.pdf" class="imgCertificado">
                                    <ion-icon class="icone_lixo" name="trash-outline"
                                        id="abrir_modal_remover_certificado"></ion-icon>
                                    <p>{{ arquivo.arquivo.name }}</p>
                                </div>
                            </div>

                            <div class="add_certificado">
                                <ion-button (click)="abrirArquivo()">
                                    <ion-icon fill="clear" name="add-circle-outline"></ion-icon>
                                </ion-button>
                            </div>
                        </div>
                    </ion-accordion>
                </ion-accordion-group>

                <ion-accordion-group class="ion_accordion_group">
                    <ion-accordion value="second">
                        <ion-item slot="header" class="div_titulo">
                            <h1>Alterar Senha</h1>
                        </ion-item>

                        <div [formGroup]="form" slot="content" class="geral">

                            <div formGroupName="senhas" style="display: flex; flex-direction: column;">

                                <p class="txt">Senha atual</p>

                                <ion-input id="Senha_Atual" formControlName="Senha_Atual"
                                    (keyup)="AtivarBotaoSalvar2($event)"
                                    (ionInput)="validacaoInput(form.controls['senhas'].controls['Senha_Atual'])"
                                    [class.inputErro]="form.controls['senhas'].controls['Senha_Atual'].invalid && (form.controls['senhas'].controls['Senha_Atual'].touched || form.controls['senhas'].controls['Senha_Atual'].dirty)"
                                    type="password" class="input" placeholder="Crie sua senha">

                                    <ion-icon (click)="estadoSenha($event)" class="ion_item__icon" slot="icon-only"
                                        name="eye-off-outline" aria-hidden="true">
                                    </ion-icon>
                                </ion-input>

                                <span
                                    [ngClass]="form.controls['senhas'].controls['Senha_Atual'].invalid && (form.controls['senhas'].controls['Senha_Atual'].touched || form.controls['senhas'].controls['Senha_Atual'].dirty) ? 'erro' : 'escondido'">{{
                                    erro.Senha_Atual }}
                                </span>

                                <span class="erro" style="margin-top: 10px;" *ngIf="mostrarSpanSenha">Senha atual
                                    incorreta!</span>

                                <p class="txt">Nova senha</p>

                                <ion-input id="senhaNova" formControlName="senha" (keyup)="AtivarBotaoSalvar2($event)"
                                    (ionInput)="validacaoInput(form.controls['senhas'].controls['senha'])"
                                    [class.inputErro]="form.controls['senhas'].controls['senha'].invalid && (form.controls['senhas'].controls['senha'].touched || form.controls['senhas'].controls['senha'].dirty)"
                                    type="password" class="input" placeholder="Crie sua senha">

                                    <ion-icon (click)="estadoSenha($event)" class="ion_item__icon" slot="icon-only"
                                        name="eye-off-outline" aria-hidden="true">
                                    </ion-icon>
                                </ion-input>

                                <span
                                    [ngClass]="form.controls['senhas'].controls['senha'].invalid && (form.controls['senhas'].controls['senha'].touched || form.controls['senhas'].controls['senha'].dirty) ? 'erro' : 'escondido'">{{
                                    erro.senha }}
                                </span>

                                <p class="txt">Confirmar nova senha</p>

                                <ion-input id="senha" (keyup)="AtivarBotaoSalvar2($event)"
                                    formControlName="confirmarSenha"
                                    [class.inputErro]="form.controls['senhas'].hasError('confere') && (form.controls['senhas'].touched || form.controls['senhas'].dirty)"
                                    type="password" class="input" placeholder="Confirme sua senha">

                                    <ion-icon (click)="estadoSenha($event)" class="ion_item__icon" slot="icon-only"
                                        name="eye-off-outline" aria-hidden="true">
                                    </ion-icon>
                                </ion-input>

                                <span
                                    [ngClass]="form.controls['senhas'].hasError('confere') && (form.controls['senhas'].touched || form.controls['senhas'].dirty) ? 'erro' : 'escondido'">{{
                                    form.controls['senhas'].errors?.['confere'].msg }}
                                </span>
                            </div>

                        </div>
                    </ion-accordion>
                </ion-accordion-group>

                <div class="divBtn">
                    <ion-button id="abrir_modal_confirmar_dados" [disabled]="situacaoBotao" class="btn">Salvar
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-modal id="modal_dados" #modal_dados trigger="abrir_modal_confirmar_dados">
    <ng-template>

        <ion-card class="poupop">

            <div class="area_vermelha">
                <ion-icon (click)="modal_dados.dismiss();" class="iconeFechar2" name="close-circle-outline"></ion-icon>
                <div class="circulo_branca">
                    <ion-icon class="iconeInterrogacao"
                        src="../../../../../assets/icon/Trabalhador/Icone Serviço/interrogação.svg"></ion-icon>
                </div>
            </div>

            <div class="area_branca">
                <h1 class="h1_denuncia">Confirmar mudança de dados?</h1>
                <ion-button class="form__btn" (click)="salvar(); modal_dados.dismiss();">Confirmar</ion-button>
            </div>

        </ion-card>

    </ng-template>
</ion-modal>

<ion-modal id="modal_certificado" #modal_certificado trigger="abrir_modal_remover_certificado">
    <ng-template>

        <ion-card class="poupop">

            <div class="area_vermelha">
                <ion-icon (click)="modal_certificado.dismiss();" class="iconeFechar2"
                    name="close-circle-outline"></ion-icon>
                <div class="circulo_branca">
                    <ion-icon class="iconeInterrogacao"
                        src="../../../../../assets/icon/Trabalhador/Icone Serviço/interrogação.svg"></ion-icon>
                </div>
            </div>

            <div class="area_branca">
                <h1 class="h1_denuncia">Tem certeza que deseja remover este certificado?</h1>
                <ion-button (click)="removerArquivo($event.target)" class="form__btn">Confirmar</ion-button>
            </div>

        </ion-card>

    </ng-template>
</ion-modal>