<ion-header class="header ion-no-border">
    <ion-icon (click)="voltarPag()" class="content_seta" name="chevron-back-outline"></ion-icon>
    <h1 class="content_h1">Maria Oliveira</h1>
</ion-header>

<ion-content>
    <div class="content">
        <div class="divMsgs">
            <!--
            <div class="geral">
                <div class="img">
                    <ion-icon class="imgDele" style="display: block;" name="person-circle-outline"></ion-icon>
                </div>
                <div class="msgDele">
                    <p>limao é melhhor</p>
                </div>
            </div>

            <div class="geral">
                <div class="img">
                </div>
                <div class="msgDele">
                    <p>limao</p>
                </div>
            </div>

            <div class="msgMinha">
                <p>batata</p>
            </div>

            <div class="geral">
                <div class="img">
                    <ion-icon class="imgDele" style="display: block;" name="person-circle-outline"></ion-icon>
                </div>
                <div class="msgDele">
                    <p>limao</p>
                </div>
            </div>


            <div class="geral">
                <div class="img">
                </div>
                <div class="msgDele">
                    <p>Boa tarde</p>
                </div>
            </div> -->
        </div>
    </div>

    <footer class="footer">
        <ion-icon class="icone" name="chatbubble-ellipses-outline"></ion-icon>
        <ion-input #input placeholder="Digite sua mensagem:"></ion-input>
        <ion-button (click)="enviarMsg(input.value)">Enviar</ion-button>
    </footer>
</ion-content>

<!-- <header>
    <div class="btn_voltar"> 
      <img src="../../../assets/icon/cliente/down-removebg-preview 8.svg"> 
    </div>
</header>

<h1>Marco Juino</h1>

<section class="area-chat">
  
  <div class="conversa">
    <div class="foto-perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>
    <div class="area-texto"></div>
  </div>
</section>


<div class="area-escrever">
  <input type="text">
  <div class="enviar">
  <img src="../../../assets/icon/geral/paper-plane.png" width="40px">
  </div>
</div>

 -->