* {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 31px 31px;
}

.content {
    align-self: center;
    max-width: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.content__seta {
    font-size: 30px;
    flex-shrink: 0;
}

.divMin {
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.divMin p {
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.divQr>p:nth-child(1) {
    font-weight: bold;
}


.divFundo {
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 25px;
    max-width: 600px;
    font-size: 15px;
}

.iconCheck {
    display: flex;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 20px;
}

.divQr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.divQr img {
    width: 148px;
    height: 148px;
}

.divCodPix {
    display: flex;
    position: relative;
    margin-bottom: 30px;
}

.divCodPix ion-input {
    --background: white;
    --border-radius: 5px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 15px;
    --padding-end: 15px;

    opacity: 1 !important;
}

.divCodPix ion-button {
    --border-radius: 0 5px 5px 0px;
    --background: #64BF7E;

    color: black;
    font-size: 15px;
    text-transform: none;
    position: absolute;
    z-index: 2;
    right: 0;
    height: 100%;
    width: clamp(100px, 50%, 180px);
}

.divCodPix ion-button ion-icon {
    flex-shrink: 0;
    margin-right: 5px;
}