* {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: black;
}

.content {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content__seta {
    font-size: 30px;
    flex-shrink: 0;
    position: absolute;
    top: 30px;
    left: 30px;
}

.content__h1 {
    font-weight: 700;
    font-size: 32px;
    margin: 70px 0 20px 0;
    text-align: center;
}

.img_perfil {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px black;
}

ion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

ion-icon {
    font-size: 32px;
    margin: 0 4px;
}

.area_texto {
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 20px;
    text-align: start;
    padding: 0 10px;
    --highlight-color: none;
    margin: 0;
}

h1 {
    font-size: 22px;
    margin: 8px 0px 12px 0px;
}

.txt_comentario {
    margin: 20px 0 8px 0;
    font-size: 17px;
    font-weight: bold;
    text-align: start;
    width: 90%;
}

.btn {
    --background: #F66701;
    color: white;
    --border-radius: 20px;
    --padding-left: 66px;
    --padding-top: 18px;
    --padding-bottom: 18px;
    --padding-right: 66px;
    margin: auto;
    margin-top: 25px;
    font-size: 22px;
    text-transform: none;
}

.estrelas_avaliações ion-icon
{
    color: rgb(255, 174, 0);
    --border: solid black 1px ;
}