* {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: black;
    font-size: 15px;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mapa {
    height: clamp(300px, 70vh, 1000px);
    ;
    background-color: antiquewhite;
}

.area_informacao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background-color: #E4E4E4;
    padding: 25px 25px;
}

.div_1 {
    display: flex;
}

.area_icone_bola {
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area_endereco {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
}

.area_endereco p {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}

.txt_endereco1,
.txt_endereco2 {
    height: 50%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.txt_endereco2 {
    display: flex;
}

.area_icone_mensagem {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.area_icone_mensagem ion-icon {
    width: 26px;
    height: 26px;
}

//------------------------------------------------------//

.div_2 {
    display: flex;
    margin: 15px 0;
}

.area_txt_inicio {
    height: 62px;
    width: 100%;
}

.icone_carro {
    height: 62px;
    width: 62px;
}

.icone_carro ion-icon {
    height: 61px;
    width: 61px;
}

.area_txt_termino {
    width: 100%;
    height: 62px;
}

.area_txt_inicio,
.area_txt_termino {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hora {
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
}

//------------------------------------------------------//

.div_3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}

.div_3 ion-icon {
    height: 23px;
    width: 23px;
    margin-right: 4px;
}

.div_3 p {
    display: flex;
    align-items: center;
}

//------------------------------------------------------//

.div_4 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.div_4 ion-button {
    margin: 0 20px;
    --padding-left: 28px;
    --padding-top: 14px;
    --padding-bottom: 14px;
    --padding-right: 28px;
    --border-radius: 20px;
    color: white;
    font-size: 15px;
    width: 120px;
}

.btn_cancelar {
    --background: #FA5050;
}

.btn_iniciar {
    --background: #64BF7E;
}

//------------------------------------------------------//

.div_codigo {
    height: 100%;
    position: relative;
}

.ion_item {
    border-radius: 11px;
    --padding-start: 0;
    --inner-padding-end: 0;
    margin: 10px;
    margin-bottom: 11px;
    position: relative;
}

.div_codigo {
    display: none;
    border-radius: 11px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form__input {
    --placeholder-opacity: 1;
    text-align: center;
    display: flex;
    align-items: center;
    height: 62px;
    width: 100%;
    max-width: 50px;
    background: #A8A8A8;
    font-weight: 700;
    border-radius: 11px;
}

.iconeFechar {
    position: absolute;
    right: 0;
    top: 10px;
    height: 30px;
    width: 30px;
}

//------------------------------------------------------//

/* .div_2, .div_3, .div_4{
    display: none;
} */

.div_trabalho_iniciado {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.icone_denuncia {
    display: none;
}

.btn_finalizar {
    margin: auto;
    height: 40px;
    width: 135px;
    --border-radius: 20px;
    color: white;
    --background: #64BF7E;
}

.div_relogio {
    display: flex;
    align-items: center;
}

.div_relogio h1 {
    font-size: 32px;
}

.div_relogio ion-icon {
    height: 54px;
    width: 54px;
}

.btn_denunciar {
    --background: #CB2316;
    color: white;
    --border-radius: 20px;
}

ion-popover,
ng-template {
    --background: transparent;
}


//-------------------------Modal geral-----------------------------//

.poupop {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    margin: auto;
}

.poupop h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

#modal_cancelar,
#modal_finalizar,
#modal_denuncia {
    --width: fit-content;
    --height: fit-content;
    --border-radius: 25px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

#modal_cancelar,
#modal_finalizar,
#modal_denuncia {
    padding: 0 10px;
}

.form__btn {
    --padding-top: 18px;
    --padding-bottom: 18px;
    --padding-left: 66px;
    --padding-right: 66px;
    --border-radius: 20px;
    color: white;
    --background: #F66701;
    font-size: 22px;
    text-transform: none;
}

.area_vermelha {
    width: 100%;
    background-color: #F66701;
    height: 110px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

.area_branca {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.iconeFechar2 {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    color: white;
}

.iconeInterrogacao {
    height: 67px;
    width: 65px;
}

.circulo_branca {
    height: 102px;
    width: 102px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -20px;
}

//-----------------------Modal denuncia select-------------------------------//

.cor_fundo {
    --background: #D9D9D9;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.opçaoDenuncia {
    font-size: 22px;
    margin: 15px;
}

.grupo_selecao {
    margin-bottom: 30px;
}

.fundoPopup {
    margin: 10px 0 20px 0;
    border-radius: 20px;
    width: 242px;
    height: 177px;
    background-color: #D9D9D9;
    display: none;
    --highlight-color: none;
    padding: 0 10px;
}

.divFoto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.divFoto>div:first-child {
    display: flex;
    gap: 10px;
}

.divEstrela {
    display: flex;
    align-items: center;
    gap: 5px;

    p {
        font-weight: bold;
    }
}

.divEstrela ion-icon,
.divEstrela p {
    font-size: clamp(17px, 4vw, 22px);
}

.divFoto>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divFoto>div:nth-child(2) ion-icon {
    font-size: clamp(25px, 5vw, 40px);
}

h2 {
    font-size: clamp(22px, 5vw, 32px);
    font-weight: bold;
    margin-bottom: 5px;
}

.area_informacao>div:nth-child(2) {
    gap: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

ion-modal {
    --background: transparent;
    --box-shadow: none;
}

.area_informacao>div:nth-child(2) ion-icon {
    font-size: clamp(40px, 6vw, 60px);
}

.area_informacao>div:nth-child(2) p {
    font-size: clamp(17px, 5vw, 22px);
    font-weight: bold;
}

ion-text {
    color: #F66701;
    font-size: clamp(17px, 5vw, 22px);
}

.area_informacao>div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    div {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    p {
        font-size: clamp(15px, 4vw, 20px);
        font-weight: bold;
    }

    ion-icon {
        font-size: clamp(25px, 5vw, 40px);
    }
}

.btnCancelar {
    --background: #F66701;
    --padding-top: 18px;
    --padding-bottom: 18px;
    --padding-start: 66px;
    --padding-end: 66px;
    --border-radius: 20px;

    font-size: 22px;
    font-weight: bold;
    text-transform: none;
    color: white;
    margin-top: 20px;
}

.area_informacao>div:nth-child(4) {
    display: flex;
    justify-content: center;
}

.area_informacao[_ngcontent-ng-c4165334628]>div[_ngcontent-ng-c4165334628]:nth-child(2) {
    margin-bottom: 30px;
}

.area_informacao[_ngcontent-ng-c4165334628]>div[_ngcontent-ng-c4165334628]:nth-child(3) {
    margin-bottom: 30px;
}

.divFoto>div:nth-child(1)>figure:nth-child(1)>img:nth-child(1) {
    width: 100%;
    border-radius: 100px;
}

.divFoto>div:nth-child(1)>figure:nth-child(1) {
    width: clamp(90px, 10vw, 150px);
}

.poupop {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    margin: auto;
}

.poupop h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}


#modal_finalizar,
#modal_denuncia,
#modal_cancelar {
    --width: fit-content;
    --height: fit-content;
    --border-radius: 25px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

#modal_finalizar,
#modal_denuncia,
#modal_cancelar {
    padding: 0 10px;
}

.iconeFechar2 {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    color: white;
}

.circulo_branca {
    height: 102px;
    width: 102px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -20px;
}

.iconeInterrogacao {
    height: 67px;
    width: 65px;
}

.area_branca {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.txt_cancelar_poupop {
    font-size: 17px;
    margin-bottom: 30px;
}

.text_cancelar_poupop {
    color: #FA5050;
    font-size: 17px;
}

.btn_denunciar {
    --background: #F66701;
    color: white;
    --border-radius: 5px 0 5px 5px;
    text-transform: none;
    font-size: 15px;
    position: absolute;
    left: -100px;
    bottom: -20px;
    display: none;
}

.divDenuncia {
    position: relative;
}

ion-popover {
    width: fit-content;
    --box-shadow: none;
}