<ion-content>
  <div class="wrapper">
    <ion-icon class="content__seta" src="../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>

    <div class="content">
      <ion-text>
        <h1 class="content__h1">Tipo de saque</h1>
      </ion-text>

      <ion-list class="form" lines="none">

        
        <ion-text>
          <p>Forma de receber seu dinheiro</p>
        </ion-text>
        <ion-item class="ion_item">
          <ion-input class="form__input" placeholder="Adicione sua chave pix:"></ion-input>
        </ion-item>

        <ion-text style="margin: 25px 0 0 0;">
          <p>Digite o valor padrão de sua visita</p>
        </ion-text>
        <ion-item class="ion_item">
          <ion-input class="form__input" placeholder="Digite o valor da visita:"></ion-input>
        </ion-item>

        <ion-button class="form__btn">Confirmar</ion-button>

      </ion-list>
    </div>
  </div>
</ion-content>