<div *ngIf="carregar" class="divCarregamento">
    <div class="carregamento"></div>
</div>

<ion-content [fullscreen]="true">
    <div class="content">

        <ion-alert header="Erro" [buttons]="['Ok']" message="A message should be a short, complete sentence."></ion-alert>
        <ion-icon (click)="voltarPag()" class="titulo__voltar" src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>

        <div class="areaPedidos">
            <h1>Favoritos</h1>

            <div class="UltimosPedidosDiv">
                <div class="areaUltimoPedido" *ngFor="let historico of historico let i = index">
                    <div class="infoTrabalhorPedido">
                        <figure class="fotoTrabalhadorPedido">
                            <img draggable="false" [src]="dominio + '/Imgs/Perfil/Trabalhador/' + historico.Trabalhador.Cpf + '.jpg'" alt="Foto Trabalhador">
                        </figure>

                        <div>
                            <div>

                                <h3 class="titulo tituloPedido">{{historico.Servico.Nome}}</h3>
                                <h3 class="titulo tituloPedido">{{historico.Trabalhador.Nome}}</h3>
                              

                                <div class="estrelaPreco">
                                    <ion-icon name="star"></ion-icon>
                                    <p class="titulo">{{historico.Trabalhador.Avaliacao.toFixed(1).replace('.', ',')}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="titulo precoPedido">R$ {{historico.Trabalhador.ValorVisita.toFixed(2).replace('.', ',')}}</p>

                    <p (click)="VerPerfil(historico.Trabalhador.Cpf, historico.Trabalhador.Nome);" class="verPerfil">Ver perfil</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>


<ion-footer class="footer" style="position: fixed;" >
    <ion-tabs class="ion_tabs">
      <ion-tab-bar class="ion_tab_bar" slot="bottom">
    
        <ion-tab-button [routerLink]="['/inicial']">
          <ion-icon class="imgFooter" name="home-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/favoritos']">
            <ion-icon class="imgFooter Clicado" src="../../../../../assets/icon/cliente/coracao_branco.svg" alt="">
            </ion-icon>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/historico']">
          <ion-icon style="color: black;" class="imgFooter" name="time-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/perfil']">
          <ion-icon  class="imgFooter" src="../../../assets/icon/Trabalhador/Icone inicial/IconePerfil.svg">
          </ion-icon>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
  </ion-footer>