<ion-content>
  <div class="wrapper">
  
      <ion-icon class="content__seta" name="chevron-back-outline"></ion-icon>

      <div class="content">

          <ion-text>
              <h1 class="content__h1">Escolha o tipo de serviço que irá realizar em nosso site</h1>
          </ion-text>
  
          <div class="geralCard">
            
            <ion-card>
              <img src="../../../../assets/icon/Trabalhador/Icone categoria/IconeEletricista.svg" alt="">
              <ion-button>Eletricista</ion-button>
            </ion-card>
  
            <ion-card>
              <img src="../../../../assets/icon/Trabalhador/Icone categoria/IconeEncanador.svg" alt="">
              <ion-button>Encanador</ion-button>
            </ion-card>
  
            <ion-card>
              <img src="../../../../assets/icon/Trabalhador/Icone categoria/IconeArCond.svg" alt="">
              <ion-button>Tec Ar Condiconado</ion-button>
            </ion-card>
  
            <ion-card>
              <img src="../../../../assets/icon/Trabalhador/Icone categoria/IconeChaveiro.svg" alt="">
              <ion-button>Chaveiro</ion-button>
            </ion-card>
  
            <ion-card>
              <img src="../../../../assets/icon/Trabalhador/Icone categoria/IconeFaxineiro.svg" alt="">
              <ion-button>Faxineiro</ion-button>
            </ion-card>
  
            <ion-card>
              <img src="../../../../assets/icon/Trabalhador/Icone categoria/IconeJardineiro.svg" alt="">
              <ion-button>Jardineiro</ion-button>
            </ion-card>
  
            <ion-card>
              <img src="../../../../assets/icon/Trabalhador/Icone categoria/IconeManutenção.svg" alt="">
              <ion-button>Manutenção</ion-button>
            </ion-card>
  
            <ion-card>
              <img src="../../../../assets/icon/Trabalhador/Icone categoria/IconePintor.svg" alt="">
              <ion-button>Pintor</ion-button>
            </ion-card>
  
            <ion-card>
              <img src="../../../../assets/icon/Trabalhador/Icone categoria/IconeMarceneiro.svg" alt="">
              <ion-button>Marceneiro</ion-button>
            </ion-card>
          </div>
      </div>
      
      <ion-footer class="footer">
        <ion-button class="btn">Enviar</ion-button>
      </ion-footer>
  </div>

</ion-content>