/* *
{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

ion-content
{
    --background: linear-gradient(90deg, #CB2316 0%, #65110B 100%);
}


.wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.content
{
    padding: 0 30px;
    background: linear-gradient(90deg, #CB2316 0%, #65110B 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__seta
{
    font-size: 30px;
    flex-shrink: 0;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
}

.content__h1
{
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 32px;
}


.ion_item
{
    --padding-start: 0;
    --inner-padding-end: 0;
    margin: 10px;
    margin-bottom: 11px;
    position: relative;
}


.form
{
    padding: 33px 19px;
    background-color: white;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
}

.area_codigo{
    display: flex; 
    border-radius: 11px;
    align-items: center;
    justify-content: center;
}

.form__input
{
    --placeholder-opacity: 1;
    text-align: center;

    display: flex;
    align-items: center;
    height: 62px;
    width: 100%;
    max-width: 50px;
    background: rgba(217,217,217, 0.56);
    font-weight: 700;
    border-radius: 11px;
    
}

.form__btn
{
    --background: #CB2316;
    --border-radius: 26px;
    --padding-start: 66px;
    --padding-end: 66px;
    --padding-top: 18px;
    --padding-bottom: 18px;

    text-transform: none;
    font-size: 22px;
    font-weight: 700;
    align-self: center;
    margin: 18px 0;
    width: clamp(200px, 300px, 80%);
}

.form__p
{
    text-align: center;
    margin: 0;
    font-size: 15px;
}

.footer{
    width: 100vh;
    position: absolute;
    top: 600px;
}

.secundaria{
    padding: 0 30px;
}

@media (max-width: 400px) {
    .form__input
    {
        height: 50px;
        width: 100%;
    }
} */

*
{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

ion-content
{
    --background: linear-gradient(90deg, #CB2316 0%, #65110B 100%);
}


.wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.content
{
    padding: 0 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(320px, 100%, 600px);
}

.content__seta
{
    font-size: 30px;
    flex-shrink: 0;
    position: absolute;
    top: 31px;
    left: 31px;
    color: white;
}

.content__h1
{
    color: white;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}


.ion_item
{
    --padding-start: 0;
    --inner-padding-end: 0;
    margin-bottom: 11px;
    position: relative;
    width: 100%;
}

.ion_item:first-of-type
{
    margin-left: 0;
}

.ion_item:last-of-type
{
    margin-right: 0;
}


.form
{
    padding: 33px 19px;
    background-color: white;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
}

.area_codigo{
    display: flex; 
    border-radius: 11px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

p
{
    font-weight: bold;
    margin-bottom: 30px;
}

.form__input
{
    --placeholder-opacity: 1;
    text-align: center;

    display: flex;
    align-items: center;
    width: 100%;
    max-width: 70px;
    aspect-ratio: 1/1;
    background: rgba(217,217,217, 0.56);
    font-weight: 700;
    border-radius: 11px;
    
}

.form__btn
{
    --background: #CB2316;
    --border-radius: 15px;
    --padding-top: 14px;
    --padding-bottom: 14px;

    text-transform: none;
    font-size: 15px;
    font-weight: 700;
    align-self: center;
    width: clamp(100px, 100%, 150px);
}

.form__btn--reenviar
{
    --background: #D9D9D9;
    color: black;
}

.form__p
{
    text-align: center;
    margin: 0;
}

.footer{
    width: 100vh;
    position: absolute;
    top: 600px;
}

.secundaria{
    padding: 0 31px;
}

@media (max-width: 400px) {
    .form__input
    {
        height: 50px;
        width: 100%;
    }
}