<ion-content [fullscreen]="true">
    <ion-alert header="Erro" [buttons]="['Ok']"></ion-alert>
    <div *ngIf="carregar" class="divCarregamento">
        <div class="carregamento"></div>
    </div>

    <div class="content">
        <ion-icon (click)="voltarPag()" class="titulo__voltar"
            src="../../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>

        <div class="areaPedidos">
            <div class="wrapper">
                <div class="btns_filtro">
                    <ion-button class="btn_filtro btn_filtro--ativado"
                        (click)="mudarFiltro($event.target)">Próximos</ion-button>
                    <ion-button class="btn_filtro" (click)="mudarFiltro($event.target)">Melhor avaliados</ion-button>
                    <ion-button class="btn_filtro" (click)="mudarFiltro($event.target)">Melhor preço</ion-button>
                </div>
            </div>

            <div class="UltimosPedidosDiv">
                <div class="areaUltimoPedido" *ngFor="let trabalhador of trabalhadores"
                    [id]="'t_' + trabalhador.Trabalhador.Cpf">
                    <div class="divWrapper">
                        <div class="infoTrabalhorPedido">
                            <figure class="fotoTrabalhadorPedido">
                                <img draggable="false"
                                    [src]="dominio + '/Imgs/Perfil/Trabalhador/' + trabalhador.Trabalhador.Cpf + '.jpg'">
                            </figure>

                            <div>
                                <div>
                                    <h3 class="titulo tituloPedido" style="margin-bottom: 5px; color: #F66701;">{{ trabalhador.Servico.Nome
                                    }}</h3>

                                    <h3 class="titulo tituloPedido">{{ trabalhador.Trabalhador.Nome }}</h3>

                                    <div class="estrelaPreco">
                                        <ion-icon name="star"></ion-icon>
                                        <p class="titulo">{{ trabalhador.Trabalhador.Avaliacao.toFixed(1) }}</p>
                                    </div>
                                </div>

                                <div class="divCalendario">
                                    <p class="titulo precoPedido">R$ {{
                                        trabalhador.Trabalhador.ValorVisita.toFixed(2).replace(".", ",") }}</p>
                                </div>
                            </div>
                        </div>

                        <div
                            style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px; gap: 20px">
                            <p class="distancia">Distância: {{ trabalhador.Trabalhador.Distancia.toFixed(2).replace(".",
                                ",") }} km</p>
                            <ion-button class="btnContratar"
                                [id]="'contratar_' + trabalhador.Trabalhador.Cpf">Contratar</ion-button>
                            <ion-modal [id]="'modal_' + trabalhador.Trabalhador.Cpf"
                                [trigger]="'contratar_' + trabalhador.Trabalhador.Cpf">
                                <ng-template>
                                    <div class="divModalWrapper">
                                        <div class="areaUltimoPedido">
                                            <div class="divWrapper">
                                                <div class="infoTrabalhorPedido">
                                                    <figure class="fotoTrabalhadorPedido">
                                                        <img draggable="false"
                                                            [src]="dominio + '/Imgs/Perfil/Trabalhador/' + trabalhador.Trabalhador.Cpf + '.jpg'">
                                                    </figure>

                                                    <div>
                                                        <div>
                                                            <h3 class="titulo tituloPedido" style="margin-bottom: 5px; color: #F66701;">{{ trabalhador.Servico.Nome
                                                                }}</h3>

                                                            <h3 class="titulo tituloPedido">{{
                                                                trabalhador.Trabalhador.Nome }}
                                                            </h3>

                                                            <div class="estrelaPreco">
                                                                <ion-icon name="star"></ion-icon>
                                                                <p class="titulo">{{
                                                                    trabalhador.Trabalhador.Avaliacao.toFixed(1) }}</p>
                                                            </div>
                                                        </div>

                                                        <div class="divCalendario">
                                                            <p class="titulo precoPedido">R$ {{
                                                                trabalhador.Trabalhador.ValorVisita.toFixed(2).replace(".",
                                                                ",") }}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div style="margin-top: 10px;">
                                                    <p class="distancia">Distância: {{
                                                        trabalhador.Trabalhador.Distancia.toFixed(2).replace(".",
                                                        ",") }} km</p>
                                                </div>

                                                <div class="divBtns">
                                                    <ion-button
                                                        (click)="dismissModal(trabalhador.Trabalhador.Cpf)">Cancelar</ion-button>
                                                    <ion-button (click)="abrirModalpagamento(trabalhador.Trabalhador.Cpf)" >Confirmar</ion-button>
                                                </div>
                                            </div>

                                            <p class="verPerfil" (click)="VerPerfil(trabalhador.Trabalhador.Cpf, trabalhador.Trabalhador.Nome);">Ver perfil</p>
                                        </div>
                                    </div>
                                </ng-template>
                            </ion-modal>
                        </div>
                    </div>

                    <p class="verPerfil" (click)="VerPerfil(trabalhador.Trabalhador.Cpf, trabalhador.Trabalhador.Nome);">Ver perfil</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-modal id="modal_certificado" #modal_certificado trigger="abrir_modal_pagamento">
    <ng-template>
  
        <ion-card class="poupop">
            <div class="divOpcoesdePagamento">
                <ion-icon class="iconeFechar2" name="close-circle-outline"></ion-icon>
                <h1>Opções de pagamento</h1>
            </div>
            <div class="divCarteira">
                <h1>Carteira</h1>
                <div class="divCarteiraValor">
                    <ion-icon class="iconeCarteira" src="../../../../assets/icon/geral/carteira.svg"></ion-icon>
                    <div>
                        <p>R$ 0,00</p>
                    </div>
                </div>
            </div>
            <div class="divPix">
                <h1>Forma de pagamento</h1>
                <div style="display: flex; align-items: center; margin-top: 10px;">
                    <img style="height: 25px; width: 25px; margin-right: 10px;" src="../../../../../assets/icon/cliente/pix.png" alt="">
                    <p>Pix</p>
                </div>
            </div>

        </ion-card>
  
    </ng-template>
</ion-modal>