*{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.estrelas
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 40px;
    bottom: -10px;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #CB2316 38%, #7D130A 100%);
    padding: 45px 0;
    margin-bottom: 50px;
    border-radius: 0 0 25px 25px;
    color: black;
}

.titulo{
    display: flex;
    justify-content: center;
}

.titulo__voltar{
    position: absolute;
    top: 31px;
    left: 31px;
    font-size: 30px;
}

h1{
    margin: 0;
}

.area_foto_perfil{
    display: flex;
    justify-content: center;
    margin-top: 31px;
    margin-bottom: 48px;
    position: relative;
}

.foto_perfil{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px black;
}

.icone_editar{
    position: absolute;
    font-size: 30px;
    color: black;  
    top: 10px;
    right: 0;
}

.div_titulo{
    display: flex;
    flex-direction: column;
}

.area_titulo h1{
    font-size: 20px;
}

.estrelas_avaliações{
    display: flex;
    margin: 5px 0;
}

.estrelas_avaliações p{
    margin-left: 10px;
}