<div *ngIf="carregar" class="divCarregamento">
  <div class="carregamento--trabalhador"></div>
</div>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <ion-icon (click)="voltarPag()" class="content__seta" name="chevron-back-outline"></ion-icon>
    <div class="content">

      <ion-alert header="Erro" [buttons]="['Ok']" message="A message should be a short, complete sentence."></ion-alert>

      <ion-text>
        <h1 class="content__h1">Ultimos pedidos</h1>
      </ion-text>

      <div class="wrapper">
        <div class="btns_filtro">
            <ion-button class="btn_filtro btn_filtro--ativado" (click)="mudarFiltro($event.target)">Recentes</ion-button>
            <ion-button class="btn_filtro" (click)="mudarFiltro($event.target)">Antigos</ion-button>
            <ion-button class="btn_filtro" (click)="mudarFiltro($event.target)">Melhor avaliados</ion-button>
        </div>
      </div>

      <ion-card class="area_pedido" *ngFor="let historico of historico let i = index">
        <div class="area_sobre_cliente">
          <div>
            <img [src]="dominio + '/Imgs/Perfil/Cliente/' + historico.Cliente.Cpf + '.jpg'" alt="Foto Cliente">
          </div>
          <div style="padding: 10px;">
            <h3 style="font-weight: bold; font-size: 22px;">{{historico.Cliente.Nome}}</h3>
            <p style="margin: 3px 0;">{{historico.DtSolicitacaoServico}}</p>
            <p style="display: flex; align-items: center;"><ion-icon style="margin-right: 3px;" name="star-outline"></ion-icon>{{historico.Cliente.Avaliacao.toFixed(1).replace(".", ",")}}</p>
          </div>
          <div class="txt-ver-perfil">
            <ion-text (click)="VerPerfil(historico.Cliente.Cpf, historico.Cliente.Nome);">Ver perfil</ion-text>
          </div>
        </div>

        <div class="area_descricao_pedido">
          <p>
            <ion-text>
              Descrição
            </ion-text>
          </p>

          <p class="txt_descricao">
            {{historico.DsServico}}
          </p>
        </div>

        <div class="area_img">
          <img [src]="historico.img">
        </div>
      </ion-card>

      <!-- <ion-card class="area_pedido">
        <div class="area_sobre_cliente">
          <div>
            <img src="../../../../../assets/icon/Trabalhador/imagens/fotohomem3.jpg" alt="">
          </div>
          <div style="padding: 10px;">
            <h3 style="font-weight: bold; font-size: 22px;">Julio Alberto</h3>
            <p style="margin: 3px 0;">20/07/2024</p>
            <p><ion-icon name="star-outline"></ion-icon>4.5</p>
          </div>
          <div class="txt-ver-perfil">
            <ion-text>Ver perfil</ion-text>
          </div>
        </div>

        <div class="area_img">
          <img src="../../../../../assets/icon/Trabalhador/imagens/image 119.png" alt="">
        </div>

        <div class="area_descricao_pedido">
          <p>
            <ion-text>
              Descrição
            </ion-text>
          </p>

          <p class="txt_descricao">
            Hoje, ao chegar em casa após um longo dia de trabalho, encontrei problemas com a fechadura da porta: a chave não girava. Tentei diversas formas de abri-la, mas sem sucesso. Então se puder me ajudar, tenho um compromisso de noite e não posso me atrasar.
          </p>
        </div>
      </ion-card> -->

    </div>
  </div>

</ion-content>

<ion-footer class="footer" style="position: fixed;" >
  <ion-tabs class="ion_tabs">
    <ion-tab-bar class="ion_tab_bar" slot="bottom">
  
      <ion-tab-button [routerLink]="['/trabalhador/inicial']">
        <ion-icon class="imgFooter" name="home-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/ultimos-pedidos']" >
        <!-- <ion-icon  class="imgFooter" class="imgFooter Clicado" src="../../../assets/icon/Trabalhador/Icone inicial/Relógio.svg">
        </ion-icon> -->
        <ion-icon class="imgFooter Clicado" name="time-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/trabalhador/perfil']">
        <ion-icon  class="imgFooter" src="../../../assets/icon/Trabalhador/Icone inicial/IconePerfil.svg">
        </ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-footer>