<ion-content [fullscreen]="true">
    <ion-alert header="Erro" [buttons]="['Ok']"></ion-alert>
    <div class="wrapper">
        <h1 style="text-align: center; ">Espere a confirmação do trabalhador</h1>

        <div class="content">

            <div class="divCarregamento2">
                <div class="carregar"></div>
                <p class="tempo">{{ tempo.min + ':' + tempo.seg }}</p>
            </div>

            <div class="divBtn">
                <ion-button (click)="cancelar(id)">Cancelar</ion-button>
            </div>
        </div>
    </div>
</ion-content>