<ion-content>
  <div class="wrapper">
    <ion-icon
      class="content__seta"
      src="../../../assets/icon/cliente/down-removebg-preview 8.svg"
    ></ion-icon>

    <div class="content">
      <ion-text>
        <h1 class="content__h1">Enviamos um código para você</h1>
      </ion-text>

      <ion-list class="form" lines="none">
        <p style="font-size: 15px;">Digite o código</p>

        <div class="area_codigo">
          <ion-item class="ion_item">
            <ion-input class="form__input"></ion-input>
          </ion-item>

          <ion-item class="ion_item">
            <ion-input class="form__input"></ion-input>
          </ion-item>

          <ion-item class="ion_item">
            <ion-input class="form__input"></ion-input>
          </ion-item>

          <ion-item class="ion_item">
            <ion-input class="form__input"></ion-input>
          </ion-item>

          <ion-item class="ion_item">
            <ion-input class="form__input"></ion-input>
          </ion-item>
        </div>

        <ion-button class="form__btn">Confirmar</ion-button>
      </ion-list>
    </div>
  </div>
</ion-content>
