<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Olá, <ion-text class="nm_titulo">Marcos!</ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">

    <ion-button id="open-custom-dialog" class="btn_situacao_trabalhador">
      <img class="img_btn_situacao" src="../../../../assets/icon/Trabalhador/Icone inicial/IconeOff.svg" alt="">
      <p class="txtSituacao" style="margin: 15px;">{{ situacao }}</p>
    </ion-button>

    <div class="título_ultimos_pedidos">
      <h3>Ultimos Trabalhos</h3>
      <p>Ver Todos</p>
    </div>

    <div class="local_ultimos_trabalhos">
      <ion-card>
        <img class="img_pedido" src="../../../assets/icon/Trabalhador/imagens/image 119.png" alt="">
        <p class="nm_cliente_pedido">Ivanir da Silva</p>
        <p class="ds_pedido">Minha geladeira está descongelando sozinha...</p>
      </ion-card>
  
      <ion-card style="margin: 0 0 0 20px;">
        <img class="img_pedido" src="../../../assets/icon/Trabalhador/imagens/image 118.png" alt="">
        <p class="nm_cliente_pedido">Lucas Moratto</p>
        <p>Minha geladeira está desligando a cada 2 horas...</p>
      </ion-card>

      <ion-card style="margin: 0 0 0 20px;">
        <img class="img_pedido" src="../../../assets/icon/Trabalhador/imagens/image 118.png" alt="">
        <p class="nm_cliente_pedido">Lucas Moratto</p>
        <p>Minha geladeira está desligando a cada 2 horas...</p>
      </ion-card>

      <ion-card style="margin: 0 0 0 20px;">
        <img class="img_pedido" src="../../../assets/icon/Trabalhador/imagens/image 118.png" alt="">
        <p class="nm_cliente_pedido">Lucas Moratto</p>
        <p>Minha geladeira está desligando a cada 2 horas...</p>
      </ion-card>

      <ion-card style="margin: 0 0 0 20px;">
        <img class="img_pedido" src="../../../assets/icon/Trabalhador/imagens/image 118.png" alt="">
        <p class="nm_cliente_pedido">Lucas Moratto</p>
        <p>Minha geladeira está desligando a cada 2 horas...</p>
      </ion-card>
    </div>

    <div class="título_ultimos_pedidos">
      <h3>Ultimas avaliações</h3>
    </div>

    <ion-list>
      <ion-item class="area_comentario_anonimo">
        <div class="div1">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <div>
          <p class="txt_anonimo">Anônimo</p>
          <p class="txt_comentario_anonimo">Gostaria de agradecer pelo exelente trabalho que voçê fez aqui!</p>
        </div>
      </ion-item>

      <ion-item class="area_comentario_anonimo">
        <div class="div1">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <div>
          <p class="txt_anonimo">Anônimo</p>
          <p class="txt_comentario_anonimo">Gostaria de agradecer pelo exelente trabalho que voçê fez aqui!</p>
        </div>
      </ion-item>

      <ion-item class="area_comentario_anonimo">
        <div class="div1">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <div>
          <p class="txt_anonimo">Anônimo</p>
          <p class="txt_comentario_anonimo">Gostaria de agradecer pelo exelente trabalho que voçê fez aqui!</p>
        </div>
      </ion-item>

      <ion-item class="area_comentario_anonimo">
        <div class="div1">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <div>
          <p class="txt_anonimo">Anônimo</p>
          <p class="txt_comentario_anonimo">Gostaria de agradecer pelo exelente trabalho que voçê fez aqui!</p>
        </div>
      </ion-item>

      <ion-item class="area_comentario_anonimo">
        <div class="div1">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <div>
          <p class="txt_anonimo">Anônimo</p>
          <p class="txt_comentario_anonimo">Gostaria de agradecer pelo exelente trabalho que voçê fez aqui!</p>
        </div>
      </ion-item>
    </ion-list>

  </div>


  <ion-footer class="footer" style="position: fixed;" >
    <ion-tabs class="ion_tabs">
      <ion-tab-bar class="ion_tab_bar" slot="bottom">
    
        <ion-tab-button  tab="">
          <ion-icon class="imgFooter Clicado" src="../../../assets/icon/Trabalhador/Icone inicial/Home.svg" alt="">
          </ion-icon>
        </ion-tab-button>
    
        <ion-tab-button>
          <ion-icon class="imgFooter" src="../../../assets/icon/Trabalhador/Icone inicial/Relógio.svg">
          </ion-icon>
        </ion-tab-button>
    
        <ion-tab-button>
          <ion-icon class="imgFooter" src="../../../assets/icon/Trabalhador/Icone inicial/IconePerfil.svg">
          </ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-footer>

</ion-content>

<!-- <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
  <ng-template>
    <ion-card class="poupop">
      <h1>{{ msgTrabalho }}</h1>
      <ion-button (click)="modal.dismiss(); disponivel()" class="form__btn">Confirmar</ion-button>
    </ion-card>
  </ng-template>
</ion-modal> -->

<ion-modal id="example-modal" #modal trigger="open-custom-dialog">
  <ng-template>

    <ion-card class="poupop2">

      <div class="area_vermelha">
        <ion-icon class="iconeFechar2" name="close-circle-outline"></ion-icon>
        <div class="area_branca">
          <ion-icon class="iconeInterrogacao"
            src="../../../../../assets/icon/Trabalhador/Icone Serviço/interrogação.svg"></ion-icon>
        </div>
      </div>

      <h1 class="h1_denuncia">{{ msgTrabalho }}</h1>
      <ion-button (click)="modal.dismiss(); disponivel()" class="form__btn">Confirmar</ion-button>

    </ion-card>

  </ng-template>
</ion-modal>