<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Olá, <ion-text class="nm_titulo">Marcos!</ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">

    <ion-button id="abrir_modal_servico" class="btn_situacao_trabalhador">
      <img class="img_btn_situacao" src="../../../../assets/icon/Trabalhador/Icone inicial/IconeOff.svg" alt="">
      <p class="txtSituacao" style="margin: 15px;">{{ situacao }}</p>
    </ion-button>

    <div class="título_ultimos_pedidos">
      <h3>Ultimos Trabalhos</h3>
      <p>Ver Todos</p>
    </div>

    <div class="local_ultimos_trabalhos">
      <ion-card>
        <img class="img_pedido" src="../../../assets/icon/Trabalhador/imagens/image 119.png" alt="">
        <p class="nm_cliente_pedido">Ivanir da Silva</p>
        <p class="ds_pedido">Minha geladeira está descongelando sozinha...</p>
      </ion-card>
  
      <ion-card style="margin: 0 0 0 20px;">
        <img class="img_pedido" src="../../../assets/icon/Trabalhador/imagens/image 118.png" alt="">
        <p class="nm_cliente_pedido">Lucas Moratto</p>
        <p>Minha geladeira está desligando a cada 2 horas...</p>
      </ion-card>

      <ion-card style="margin: 0 0 0 20px;">
        <img class="img_pedido" src="../../../assets/icon/Trabalhador/imagens/image 118.png" alt="">
        <p class="nm_cliente_pedido">Lucas Moratto</p>
        <p>Minha geladeira está desligando a cada 2 horas...</p>
      </ion-card>

      <ion-card style="margin: 0 0 0 20px;">
        <img class="img_pedido" src="../../../assets/icon/Trabalhador/imagens/image 118.png" alt="">
        <p class="nm_cliente_pedido">Lucas Moratto</p>
        <p>Minha geladeira está desligando a cada 2 horas...</p>
      </ion-card>

      <ion-card style="margin: 0 0 0 20px;">
        <img class="img_pedido" src="../../../assets/icon/Trabalhador/imagens/image 118.png" alt="">
        <p class="nm_cliente_pedido">Lucas Moratto</p>
        <p>Minha geladeira está desligando a cada 2 horas...</p>
      </ion-card>
    </div>

    <div class="título_ultimos_pedidos">
      <h3>Publicidade</h3>
    </div>

    <div class="local_publicidade">
      <ion-card>
        <div class="publicidade_texto">
          <p>Destaque seu perfil, e faça ele chegar para mais pessoas!</p>
          <ion-button [routerLink]="['/comercial']" class="btn">Saiba mais</ion-button>
        </div>

        <div class="publicidade_img">
          <img class="img_publicidade" src="../../../../assets/icon/Trabalhador/imagens/image 127.png" alt="">
          <ion-icon class="icone_publicidade" src="../../../../assets/icon/Trabalhador/Icone inicial/icone_grafico.svg"></ion-icon>
        </div>
      </ion-card>
    </div>

    <div class="título_ultimos_pedidos">
      <h3>Ultimas avaliações</h3>
    </div>

    <ion-list>

      <ion-item lines="none" class="area_comentario_anonimo">
        <div class="div1">
          <ion-icon class="iconeAnonimo" name="person-circle-outline"></ion-icon>

          <div class="estrelas">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>

        </div>
        <div>
          <p class="txt_anonimo">Anônimo</p>
          <p class="txt_comentario_anonimo">Gostaria de agradecer pelo exelente trabalho que voçê fez aqui!</p>
        </div>
      </ion-item>

      <ion-item lines="none" class="area_comentario_anonimo">
        <div class="div1">
          <ion-icon class="iconeAnonimo" name="person-circle-outline"></ion-icon>

          <div class="estrelas">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>

        </div>
        <div>
          <p class="txt_anonimo">Anônimo</p>
          <p class="txt_comentario_anonimo">Gostaria de agradecer pelo exelente trabalho que voçê fez aqui!</p>
        </div>
      </ion-item>

      <ion-item lines="none" class="area_comentario_anonimo">
        <div class="div1">
          <ion-icon class="iconeAnonimo" name="person-circle-outline"></ion-icon>

          <div class="estrelas">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>

        </div>
        <div>
          <p class="txt_anonimo">Anônimo</p>
          <p class="txt_comentario_anonimo">Gostaria de agradecer pelo exelente trabalho que voçê fez aqui!</p>
        </div>
      </ion-item>

      <ion-item lines="none" class="area_comentario_anonimo">
        <div class="div1">
          <ion-icon class="iconeAnonimo" name="person-circle-outline"></ion-icon>

          <div class="estrelas">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>

        </div>
        <div>
          <p class="txt_anonimo">Anônimo</p>
          <p class="txt_comentario_anonimo">Gostaria de agradecer pelo exelente trabalho que voçê fez aqui!</p>
        </div>
      </ion-item>

      <ion-item lines="none" class="area_comentario_anonimo">
        <div class="div1">
          <ion-icon class="iconeAnonimo" name="person-circle-outline"></ion-icon>

          <div class="estrelas">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>

        </div>
        <div>
          <p class="txt_anonimo">Anônimo</p>
          <p class="txt_comentario_anonimo">Gostaria de agradecer pelo exelente trabalho que voçê fez aqui!</p>
        </div>
      </ion-item>

    </ion-list>

  </div>

</ion-content>

<ion-modal id="modal_servico" #modal_disponivel trigger="abrir_modal_servico">
  <ng-template>

      <ion-card class="poupop">

          <div class="area_vermelha">
              <ion-icon (click)="modal_disponivel.dismiss();" class="iconeFechar2" name="close-circle-outline"></ion-icon>
              <div class="circulo_branca">
                  <ion-icon class="iconeInterrogacao"
                      src="../../../../assets/icon/Trabalhador/Icone inicial/Icone_poupop.svg"></ion-icon>
              </div>
          </div>

          <div class="area_branca">
              <h1 class="h1_denuncia">{{ msgTrabalho }}</h1>
              <ion-button (click)="modal_disponivel.dismiss(); disponivel()" class="form__btn">Confirmar</ion-button>
          </div>

      </ion-card>

  </ng-template>
</ion-modal>

<ion-modal id="modal_servico_solicitado" #modal_servico trigger="abrir_modal_servico_solicitado">
  <ng-template>

      <ion-card class="poupop">

          <div class="area_vermelha">
              <ion-icon (click)="modal_servico.dismiss();" class="iconeFechar2" name="close-circle-outline"></ion-icon>
              <div class="circulo_branca">
                  <img class="iconeFoto" src="../../../../assets/icon/Trabalhador/imagens/fotomulher.avif" alt="">
              </div>
          </div>

          <div class="area_branca">
              <h1>Marina Oliveira</h1>
              <h1 style="font-size: 22px;">Novo serviço solicitado!</h1>
              <div>
                <ion-button class="form__btn2">Analisar</ion-button>
                <ion-button class="form__btn1">Ignorar</ion-button>
              </div>
          </div>

      </ion-card>

  </ng-template>
</ion-modal>

<ion-footer class="footer" style="position: fixed;" >
  <ion-tabs class="ion_tabs">
    <ion-tab-bar class="ion_tab_bar" slot="bottom">
  
      <ion-tab-button [routerLink]="['/inicial']">
        <ion-icon class="imgFooter Clicado" name="home-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/ultimos-pedidos']">
        <ion-icon  class="imgFooter" src="../../../assets/icon/Trabalhador/Icone inicial/Relógio.svg">
        </ion-icon>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/perfil']">
        <ion-icon  class="imgFooter" src="../../../assets/icon/Trabalhador/Icone inicial/IconePerfil.svg">
        </ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-footer>