*
{
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.content__seta {
    font-size: 30px;
    position: absolute;
    top: 31px;
    left: 31px;
}

.menu
{
    font-size: 33px;
    position: absolute;
    top: 31px;
    right: 31px;
}

.div_perfil
{
    position: relative;
    padding: 31px 31px;
    background: linear-gradient(180deg, #FFB300 0%, #F66701 62%);
}