<ion-content [fullscreen]="true">
    

    <!-- <div class="div_perfil">

        <ion-icon  class="content__seta" src="../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>
        <ion-icon class="menu" name="menu-outline"></ion-icon>

        <div>
            <h1>Perfil</h1>

            <figure>
                <img src="" alt="" srcset="">
                <ion-icon name="create-outline"></ion-icon>

                <div>
                    <ion-icon name="create-outline"></ion-icon>
                    <ion-icon name="create-outline"></ion-icon>
                    <ion-icon name="create-outline"></ion-icon>
                </div>
            </figure>


            <h2>Maria Oliveira</h2>

            <div>
                <p>2 avaliações</p>
            </div>
        </div>
    </div> -->
</ion-content>