<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Olá, <ion-text class="nm_titulo">{{ cliente.Nome }}</ion-text></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div *ngIf="carregar" class="divCarregamento">
    <div class="carregamento"></div>
    </div>

    <div class="content">

        <ion-searchbar placeholder="Procurar serviços"></ion-searchbar>

        <div id="servicos">
            <div *ngFor="let categoria of categorias">
                <div class="título_ultimos_pedidos">
                    <h3 class="titulo">{{ categoria.Nome }}</h3>
                    <p class="título_ultimos_pedidos__p">Ver trabalhos</p>
                </div>

                <div class="local_ultimos_trabalhos">
                    <ion-card *ngFor="let servico of categoria.Servicos" button="true">
                        <ion-ripple-effect></ion-ripple-effect>
                        <img draggable="false" class="img_pedido"
                            [src]="'http://localhost:57879/Imgs/Servicos/' + servico.Codigo + '.png'"
                            [alt]="servico.Nome">
                        <div class="div_pedido">
                            <p class="nm_cliente_pedido">{{ servico.Nome }}</p>
                        </div>
                    </ion-card>
                </div>
            </div>
        </div>

        <div class="div_trabalhadores">
            <ion-card *ngFor="let patrocinado of patrocinados">
                <figure>
                    <img draggable="false"
                        [src]="'http://localhost:57879/Imgs/Trabalhadores/' + patrocinado.Trabalhador.Cpf + '.jpg'"
                        alt="">
                    <div class="info_trabalhador">
                        <div class="fundoLaranja"></div>
                        <div class="divInfos">
                            <p class="nome_trabalhador">{{ patrocinado.Trabalhador.Nome }}</p>
                            <p>Profissional ZELO desde {{ patrocinado.Trabalhador.DataCadastro.substring(0, 4) }}</p>
                            <div class="avaliacaoDiv">
                                <p>{{ patrocinado.Trabalhador.Avaliacao.toFixed(1) }}</p>
                                <div class="estrelas">
                                    <ion-icon name="star"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>

                <div class="divAnuncio">
                    <div>
                        <ion-icon class="ferramenta-chave"
                            src="../../../../assets/icon/cliente/ferramenta-chave.svg"></ion-icon>
                        <h1>{{ patrocinado.Servico }}</h1>
                    </div>

                    <div class="divAnuncioInfo">
                        <p>Soluções rápidas e eficientes.</p>

                        <ion-button>Ver trabalhador</ion-button>
                    </div>
                </div>
            </ion-card>
        </div>


        <div class="título_ultimos_pedidos">
            <h3 class="titulo">Últimos pedidos</h3>
        </div>

        <div class="UltimosPedidosDiv">
            <div class="areaUltimoPedido" *ngFor="let pedido of historico">
                <div class="infoTrabalhorPedido">
                    <figure class="fotoTrabalhadorPedido">
                        <img style="border-radius: 100px;" draggable="false"
                            [src]="'http://localhost:57879/Imgs/Perfil/Trabalhador/' + pedido.Trabalhador.Cpf + '.jpg'">
                    </figure>

                    <div>
                        <div>
                            <h3 class="titulo tituloPedido">{{ pedido.Trabalhador.Nome }}</h3>
                            <h3 class="titulo tituloPedido">{{ pedido.Servico }}</h3>

                            <div class="estrelaPreco">
                                <ion-icon name="star"></ion-icon>
                                <p class="titulo">{{ pedido.Trabalhador.Avaliacao.toFixed(1) }}</p>
                            </div>
                        </div>

                        <div class="divCalendario">
                            <ion-icon src="../../../../assets/icon/cliente/calendario.svg"></ion-icon>
                            <p>{{ pedido.DtSolicitacaoServico.substring(8, 10) + '/' +
                                pedido.DtSolicitacaoServico.substring(5, 7) + '/' +
                                pedido.DtSolicitacaoServico.substring(0, 4) }}</p>
                        </div>
                    </div>
                </div>

                <p class="titulo precoPedido">R$ {{ pedido.Trabalhador.ValorVisita.toFixed(2).replace('.', ',') }}</p>

                <p class="verPerfil">Ver perfil</p>
            </div>
        </div>
    </div>

</ion-content>

<ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
        <ion-card class="poupop">
            <h1></h1>
            <ion-button class="form__btn">Confirmar</ion-button>
        </ion-card>
    </ng-template>
</ion-modal>

<ion-footer class="footer" style="position: fixed;">
    <ion-tabs class="ion_tabs">
        <ion-tab-bar class="ion_tab_bar" slot="bottom">

            <ion-tab-button [routerLink]="['/inicial']">
                <ion-icon class="imgFooter Clicado" name="home-outline"></ion-icon>
            </ion-tab-button>

            <ion-tab-button [routerLink]="['/favoritos']">
                <ion-icon class="imgFooter" src="../../../assets/icon/cliente/Heart.svg" alt="">
                </ion-icon>
            </ion-tab-button>

            <ion-tab-button [routerLink]="['/historico']">
                <ion-icon style="color: black;" class="imgFooter" name="time-outline"></ion-icon>
            </ion-tab-button>

            <ion-tab-button [routerLink]="['/perfil']">
                <ion-icon class="imgFooter" src="../../../assets/icon/Trabalhador/Icone inicial/IconePerfil.svg">
                </ion-icon>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-footer>