<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Olá, <ion-text class="nm_titulo">Marcos!</ion-text></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="content">

		<ion-searchbar placeholder="Procurar serviços"></ion-searchbar>

		<div class="título_ultimos_pedidos">
			<h3>Reformas e reparos</h3>
			<p class="título_ultimos_pedidos__p">Ver trabalhadores</p>
		</div>

		<div class="local_ultimos_trabalhos">
			<ion-card>
				<img class="img_pedido" src="../../../assets/icon/cliente/limpeza.jpg" alt="">
				<div class="div_pedido">
					<p class="nm_cliente_pedido">Limpeza</p>
				</div>
			</ion-card>

			<ion-card style="margin: 0 0 0 20px;">
				<img class="img_pedido" src="../../../assets/icon/cliente/eletricista.jpg" alt="">
				<div class="div_pedido">
					<p class="nm_cliente_pedido">Eletricista</p>
				</div>
			</ion-card>

			<ion-card style="margin: 0 0 0 20px;">
				<img class="img_pedido" src="../../../assets/icon/cliente/encanador.jpg" alt="">
				<div class="div_pedido">
					<p class="nm_cliente_pedido">Encanador</p>
				</div>
			</ion-card>

			<ion-card style="margin: 0 0 0 20px;">
				<img class="img_pedido" src="../../../assets/icon/cliente/marceneiro.jpg" alt="">
				<div class="div_pedido">
					<p class="nm_cliente_pedido">Marceneiro</p>
				</div>
			</ion-card>

			<ion-card style="margin: 0 0 0 20px;">
				<img class="img_pedido" src="../../../assets/icon/cliente/pintor.jpg" alt="">
				<div class="div_pedido">
					<p class="nm_cliente_pedido">Pintor</p>
				</div>
			</ion-card>
		</div>

		<div class="div_trabalhadores">
			<ion-card>
				<figure>
					<img src="../../../assets/icon/cliente/pintor.jpg" alt="">
					<div class="info_trabalhador">
						<div class="fundoLaranja"></div>
						<div class="divInfos">
							<p class="nome_trabalhador">Robson Santos</p>
							<p>Profissional ZELO desde 2020</p>
							<div class="avaliacaoDiv">
								<p>5.0</p>
								<div class="estrelas">
									<ion-icon name="star"></ion-icon>
								</div>
							</div>
						</div>
					</div>
				</figure>
			</ion-card>

			<ion-card>
				<img class="img_pedido" src="../../../assets/icon/cliente/pintor.jpg" alt="">
				<div class="div_pedido">
					<p class="nm_cliente_pedido">Pintor</p>
				</div>
			</ion-card>
		</div>
		

		<div class="título_ultimos_pedidos">
			<h3>Ultimas avaliações</h3>
		</div>

		<ion-list>
			<ion-item class="area_comentario_anonimo">
				<div>
					<ion-icon name="person-circle-outline"></ion-icon>
				</div>
				<div>
					<p style="font-size: 1.01rem; font-weight: bold;">Anônimo</p>
					<p style="font-size: 12px; margin-top: 5px;">Gostaria de agradecer pelo exelente trabalho que voçê
						fez aqui!
					</p>
				</div>
			</ion-item>

			<ion-item class="area_comentario_anonimo">
				<div>
					<ion-icon name="person-circle-outline"></ion-icon>
				</div>
				<div>
					<p style="font-size: 1.01rem; font-weight: bold;">Anônimo</p>
					<p style="font-size: 12px; margin-top: 5px;">Gostaria de agradecer pelo exelente trabalho que voçê
						fez aqui!
					</p>
				</div>
			</ion-item>

			<ion-item class="area_comentario_anonimo">
				<div>
					<ion-icon name="person-circle-outline"></ion-icon>
				</div>
				<div>
					<p style="font-size: 1.01rem; font-weight: bold;">Anônimo</p>
					<p style="font-size: 12px; margin-top: 5px;">Gostaria de agradecer pelo exelente trabalho que voçê
						fez aqui!
					</p>
				</div>
			</ion-item>

			<ion-item class="area_comentario_anonimo">
				<div>
					<ion-icon name="person-circle-outline"></ion-icon>
				</div>
				<div>
					<p style="font-size: 1.01rem; font-weight: bold;">Anônimo</p>
					<p style="font-size: 12px; margin-top: 5px;">Gostaria de agradecer pelo exelente trabalho que voçê
						fez aqui!
					</p>
				</div>
			</ion-item>

			<ion-item class="area_comentario_anonimo">
				<div>
					<ion-icon name="person-circle-outline"></ion-icon>
				</div>
				<div>
					<p style="font-size: 1.01rem; font-weight: bold;">Anônimo</p>
					<p style="font-size: 12px; margin-top: 5px;">Gostaria de agradecer pelo exelente trabalho que voçê
						fez aqui!
					</p>
				</div>
			</ion-item>
		</ion-list>

	</div>


	<ion-footer class="footer" style="position: fixed;">
		<ion-tabs class="ion_tabs">
			<ion-tab-bar class="ion_tab_bar" slot="bottom">

				<ion-tab-button tab="">
					<ion-icon class="imgFooter Clicado" src="../../../assets/icon/Trabalhador/Home.svg" alt="">
					</ion-icon>
				</ion-tab-button>

				<ion-tab-button>
					<ion-icon class="imgFooter" src="../../../assets/icon/Trabalhador/Relógio.svg">
					</ion-icon>
				</ion-tab-button>

				<ion-tab-button>
					<ion-icon class="imgFooter" src="../../../assets/icon/Trabalhador/IconePerfil.svg">
					</ion-icon>
				</ion-tab-button>

			</ion-tab-bar>
		</ion-tabs>
	</ion-footer>

</ion-content>

<ion-modal id="example-modal" #modal trigger="open-custom-dialog">
	<ng-template>
		<ion-card class="poupop">
			<h1></h1>
			<ion-button class="form__btn">Confirmar</ion-button>
		</ion-card>
	</ng-template>
</ion-modal>