* {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

.nm_titulo {
    color: #f66701;
}

.content {
    padding: 22px 22px 100px 22px;
}

.Clicado {
    background-color: #cb2316;
    padding: 10px;
    border-radius: 10px;
    stroke: white;
    height: 40px;
    width: 40px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}

.footer {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    height: 85px;
    background-color: white;
}

.btn_situacao_trabalhador {
    width: 100%;
    --background: #ff1200;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    position: relative;
}

.img_btn_situacao {
    margin-right: 20px;
    position: absolute;
    left: 0;
}

.título_ultimos_pedidos {
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.título_ultimos_pedidos p {
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
    color: #F66701;
}

.título_ultimos_pedidos h3 {
    font-size: 18px;
}

.local_ultimos_trabalhos {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    scrollbar-width: none;
}

.local_ultimos_trabalhos ion-card {
    min-width: 180px;
    border-radius: 15px;
    padding: 10px;
}

.area_comentario_anonimo {
    width: 100%;
    --background: #e4e4e4;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.area_comentario_anonimo div {
    margin: 10px;
}

.area_comentario_anonimo div ion-icon {
    width: 60px;
    height: 60px;
}

.ion_tabs {
    display: flex;
    justify-content: center;
    height: 100%;
}

.ion_tab_bar {
    height: 100%;
}

.imgFooter {
    height: 40px;
    width: 40px;
}

.img_pedido {
    width: 100%;
}

.nm_cliente_pedido {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form__btn {
    --background: #cb2316;
    --border-radius: 26px;
    --padding-start: 71px;
    --padding-end: 71px;
    --padding-top: 20px;
    --padding-bottom: 20px;

    text-transform: none;
    font-size: 22px;
    font-weight: 700;
    align-self: center;
    margin-top: 36px;
    width: clamp(200px, 300px, 80%);
}

.poupop {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
    width: 350px;
    height: 210px;
    margin: auto;
}

.poupop h1 {
    text-align: center;
}

ion-modal#example-modal {
    --width: fit-content;
    --height: fit-content;
    --border-radius: 25px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal ion-icon {
    margin-right: 6px;

    width: 48px;
    height: 48px;

    padding: 4px 0;

    color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
}

.btn_situacao_trabalhador_disponivel {
    width: 100%;
    --background: #34c800;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    position: relative;
}