<header>
    <div class="btn_voltar"> 
      <img src="../../../assets/icon/cliente/down-removebg-preview 8.svg"> 
    </div>
</header>

<h1>Marco Juino</h1>

<section class="area-chat">
  
  <div class="conversa">
    <div class="foto-perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>
    <div class="area-texto"></div>
  </div>
</section>


<div class="area-escrever">
  <input type="text">
  <div class="enviar">
  <img src="../../../assets/icon/geral/paper-plane.png" width="40px">
  </div>
</div>

