<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Olá, <ion-text class="nm_titulo">{{ cliente.Nome }}!</ion-text></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="content">
        <ion-searchbar (ionInput)="pesquisarServicos($event.target)" placeholder="Procurar serviços"></ion-searchbar>

        <div id="servicos_2">
            <div *ngFor="let categoria of categorias">
                <div class="título_ultimos_pedidos">
                    <h3 class="titulo">{{ categoria.Nome }}</h3>
                </div>

                <div class="local_ultimos_trabalhos">
                    <ng-container #ngContainer *ngFor="let servico of categoria.Servicos">
                        <ion-card button="true">
                            <div class="div_ion_card">
                                <ion-ripple-effect></ion-ripple-effect>
                                <img draggable="false" class="img_pedido"
                                    [src]="'http://localhost:57879/Imgs/Servicos/' + servico.Codigo + '.png'"
                                    [alt]="servico.Nome">
                                <div class="div_pedido">
                                    <p class="nm_cliente_pedido">{{ servico.Nome }}</p>
                                </div>
                            </div>
                        </ion-card>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
        <ion-card class="poupop">
            <h1></h1>
            <ion-button class="form__btn">Confirmar</ion-button>
        </ion-card>
    </ng-template>
</ion-modal>

<ion-footer class="footer" style="position: fixed;">
    <ion-tabs class="ion_tabs">
        <ion-tab-bar class="ion_tab_bar" slot="bottom">

            <ion-tab-button [routerLink]="['/inicial']">
                <ion-icon class="imgFooter Clicado" name="home-outline"></ion-icon>
            </ion-tab-button>

            <ion-tab-button [routerLink]="['/favoritos']">
                <ion-icon class="imgFooter" src="../../../assets/icon/cliente/Heart.svg" alt="">
                </ion-icon>
            </ion-tab-button>

            <ion-tab-button [routerLink]="['/historico']">
                <ion-icon style="color: black;" class="imgFooter" name="time-outline"></ion-icon>
            </ion-tab-button>

            <ion-tab-button [routerLink]="['/perfil']">
                <ion-icon class="imgFooter" src="../../../assets/icon/Trabalhador/Icone inicial/IconePerfil.svg">
                </ion-icon>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-footer>