/* 
body{
    align-items: center;
}

header{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

header h1{
    font-weight: bold;
}

.botao-titulo{
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row ; 
}

.btn_voltar{
    position: absolute;
    top: 31px;
    left: 30px;
}

hr{
    height: 1px;
    width: 100%; 
    background-color: black;   
}

.titulo_perg_freq{
    width: 100%;
    margin-left: 5%;
}

.perg_freq{
    width: 374px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;

}

.pergunta h1 {
    margin-bottom: 10px; 
    font-size: 18px;
}

.pergunta{
    height: 93.5px;
    width: 100%;
}

.pergunta p{
    margin-bottom: 5px;
    margin: 0;
} */


