    <div class="botao-titulo">
      <div class="btn_voltar"> 
        <img src="../../../assets/icon/cliente/down-removebg-preview 8.svg"> 
      </div>
    </div>
  
  <section class="perg_freq">

    <div class="pergunta">
      <h1>1. Quem somos?</h1>
      <p>A ZELO, fundada em 2024, atua no mercado de marketplace em nível nacional, com o intuito de expandir nosso nome. Nosso compromisso é com a total confiança dos clientes, com nossos colaboradores associados à empresa e, principalmente, com a qualidade dos serviços prestados pelos contratados.</p>
    </div>

    <div class="pergunta">
      <h1>2. Propósito</h1>
      <p>Nosso propósito é girar a economia, ajudando aqueles que se encontram em situação de desemprego e auxiliando cidadãos que possuem defasagem de conhecimento em atividades domésticas. Nossa visão é ajudar nossos consumidores a prosperarem em uma economia sustentável, onde pessoas e lucros estão em equilíbrio.</p>
    </div>

    <div class="pergunta">
      <h1>3. ZELO para cliente</h1>
      <p>Pelo nosso site, você descreve do que está precisando no momento, e pelo nosso rastreamento, iremos te indicar um trabalhador mais próximo para seu tipo de serviço para contato e te enviar o orçamento (+ taxa de visita)</p>
    </div>

    <div class="pergunta">
      <h1>4. ZELO para colaborador</h1>
      <p>Pelo site, iremos te indicar clientes com necessidade com nosso rastreador, você poderá negociar com ele, ver a descrição do tipo do serviço e ter a opção de confirmação ou cancelamento. Cabível o estabelecimento do seu preço de serviço, e preço de visita fixo.</p>
    </div>

  </section>
  
  
  
  
  