<ion-content>
    <div class="wrapper">
        <ion-icon class="content__seta" src="../../../assets/icon/cliente/down-removebg-preview 8.svg"></ion-icon>

        <div class="content">
            <ion-text>
                <h1 class="content__h1">Bem vindo!</h1>
            </ion-text>

            <ion-list class="form" lines="none">

                <p style="margin-bottom: 20px; font-weight: bold; font-size: 15px;">Altere a senha</p>

                <ion-item class="ion_item">
                    <ion-input type="password" class="form__input" placeholder="Digite sua nova senha">
                        <ion-icon class="ion_item__icon" slot="icon-only" name="eye-outline"
                            aria-hidden="true"></ion-icon>
                    </ion-input>
                </ion-item>

                <ion-item class="ion_item">
                    <ion-input type="password" class="form__input" placeholder="Confirme sua nova senha">
                        <ion-icon class="ion_item__icon" slot="icon-only" name="eye-outline"
                            aria-hidden="true"></ion-icon>
                    </ion-input>
                </ion-item>

                <ion-button class="form__btn" id="btnConfirmar">Confirmar</ion-button>
                <ion-modal #modal (click)="modal.dismiss()" trigger="btnConfirmar">
                    <ng-template>
                        <div class="divModal">
                            <ion-button>Senha alterada com sucesso!</ion-button>
                        </div>
                    </ng-template>
                </ion-modal>

            </ion-list>
        </div>
    </div>
</ion-content>