
<ion-content [fullscreen]="true">
  <ion-icon class="content__seta" name="chevron-back-outline"></ion-icon>
  
  <div class="content">
    <ion-text>
      <h1 class="content__h1">Avaliação</h1>
    </ion-text>

    <ion-card>
      <img class="img_perfil" src="../../../../../assets/icon/Trabalhador/imagens/fotomulher.avif" alt="">

      <h1>Mariana Oliveira</h1>

      <div class="estrelas_avaliações">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <p class="txt_comentario">Comentário</p>

      <ion-textarea class="area_texto">
      </ion-textarea>
    </ion-card>

    <ion-button class="btn">Enviar</ion-button>
  </div>
</ion-content>
